/**
 * @file root.css
 * @description Element-level styles.
 */

:root {
    /* Predefined color variables */
    --color-white: #fcfcfa;
    --color-black: #2d2a2e;
    --color-black-bright: #575558;
    --color-black-bright-intense: #817f82;
    --color-black-darker: #242225;
    --color-black-darker-intense: #1b191c;
    --color-black-tone-1: #3e3b3e;
    --color-gray: #766d78;
    --color-gray-bright: #918a93;
    --color-gray-bright-intense: #ada7ae;
    --color-gray-darker: #5e5760;
    --color-gray-darker-intense: #474148;
    --color-red: #ff6188;
    --color-red-bright: #ff81a0;
    --color-red-bright-intense: #ffa0b8;
    --color-red-darker: #cc4e6d;
    --color-red-darker-intense: #993a52;
    --color-red-vibrant: #ff144f;
    --color-orange: #fc9a69;
    --color-orange-bright: #fdae87;
    --color-orange-bright-intense: #fdc2a5;
    --color-orange-darker: #ca7b54;
    --color-orange-darker-intense: #975c3f;
    --color-orange-vibrant: #fa681e;
    --color-yellow: #ffd966;
    --color-yellow-bright: #ffe185;
    --color-yellow-bright-intense: #ffe8a3;
    --color-yellow-darker: #ccae52;
    --color-yellow-darker-intense: #99823d;
    --color-yellow-vibrant: #ffc61a;
    --color-green: #a8db75;
    --color-green-bright: #b9e291;
    --color-green-bright-intense: #cbe9ac;
    --color-green-darker: #86af5e;
    --color-green-darker-intense: #769952;
    --color-green-vibrant: #82cc38;
    --color-blue: #78dde8;
    --color-blue-bright: #93e4ed;
    --color-blue-bright-intense: #aeebf1;
    --color-blue-darker: #60b1ba;
    --color-blue-darker-intense: #48858b;
    --color-blue-vibrant: #36ccdd;
    --color-purple: #aa9cf2;
    --color-purple-bright: #bbb0f5;
    --color-purple-bright-intense: #ccc4f7;
    --color-purple-darker: #887dc2;
    --color-purple-darker-intense: #665e91;
    --color-purple-vibrant: #7058e9;
    --color-primary: var(--color-orange);

    /* General variables */
    --general-font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans',
        'Poppins', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji';
    --general-text-color: var(--color-white);
    --general-font-size-normal: 1rem;
    --general-font-size-small: calc(1rem * 0.8333333);
    --general-font-size-large: calc(1rem * 1.17);
    --general-body-background-color: var(--color-black);
    --general-body-background-gradient-color: linear-gradient(
        to bottom,
        rgba(45, 42, 46, 0.8),
        rgba(45, 42, 46, 0.8)
    );
    --general-body-background-image-url: url('../img/background.jpg');
    --general-scrollbar-background-color: var(--color-black);
    --general-scrollbar-thumb-background-color-default: var(--color-gray);
    --general-scrollbar-thumb-background-color-hover: var(--color-gray-bright);
    --general-scrollbar-thumb-background-color-active: var(
        --color-gray-bright-intense
    );

    /* Header variables */
    --header-height: 56.8px;
    --header-background-color: #221f22;
    --nav-top-item-background-color-default: #221f22;
    --nav-top-item-background-color-hover: #333234;
    --nav-top-item-background-color-active: #333234;
    --nav-top-item-text-color-default: #898889;
    --nav-top-item-text-color-hover: var(--color-white);
    --nav-top-item-text-color-active: var(--color-white);

    --nav-sub-item-background-color-default: #2d2a2e;
    --nav-sub-item-background-color-hover: #383539;
    --nav-sub-item-background-color-active: #383539;
    --nav-sub-item-text-color-default: var(--color-white);
    --nav-sub-item-text-color-hover: var(--color-yellow);
    --nav-sub-item-text-color-active: var(--color-yellow);
    --nav-sub-menu-border-color: #221f22;
    --nav-sub-menu-border-width: 0px;
    --nav-sub-menu-border-radius: 10px;
    --nav-sub-menu-distance: 4px;

    /* Footer variables */
    --footer-height: 140px;
    --footer-background-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: auto;
    color: var(--general-text-color);
    background-color: var(--general-body-background-color);
    font-family: var(--general-font-family);
    font-size: 87.5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input,
textarea,
button,
select {
    font-family: var(--general-font-family);
}

::selection {
    color: var(--color-black);
    background-color: var(--color-white);
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--general-scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: var(--general-scrollbar-thumb-background-color-default);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--general-scrollbar-thumb-background-color-hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--general-scrollbar-thumb-background-color-active);
}

::placeholder {
    color: var(--color-gray);
    opacity: 1;
}

::-ms-input-placeholder {
    color: var(--color-gray);
}

table {
    border: 1px solid;
    border-collapse: collapse;

    & th,
    & td {
        padding: 10px;
        border: 1px solid;
    }
}
