/**
 * @file select.css
 * @description Select styles.
 */

select.select {
    --select-text-color: var(--color-white);
    --select-background-color: var(--color-black);
    --select-border-color-default: var(--color-white);
    --select-border-color-focus: var(--color-primary);
    --select-border-width: 2px;
    --select-border-radius: 4px;
    padding: 4px;
    border: var(--select-border-width) solid var(--select-border-color-default);
    border-radius: var(--select-border-radius);
    font-size: 1rem;
    color: var(--select-text-color);
    background-color: var(--select-background-color);
    transition: all 0.15s;

    &:focus {
        outline: 0;
        border-color: var(--select-border-color-focus);
    }
}
