#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--footer-background-color);
    overflow: hidden;
}

.footer-powered-info {
    margin-top: 13px;
    font-size: small;
    transition: all 0.1s;
}

.powered-by {
    color: var(--footer-text-color);
    filter: brightness(0.9);
}

.powered-link {
    color: var(--footer-text-color);
    text-decoration: underline;
    font-weight: bold;
    filter: brightness(1);
    transition: all 0.1s;

    &:hover {
        filter: brightness(1.2);
    }
}
