.mobile-menu-icon {
    display: none !important;

    & > .mobile-menu-dropdown {
        --dropdown-window-background-color: var(--header-background-color);
        --dropdown-window-border-color: var(--color-primary);
        position: fixed;
        top: var(--header-height);
        right: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        max-height: calc(100vh - var(--header-height));
        border-top: 1px solid var(--dropdown-window-border-color);
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        background-color: var(--dropdown-window-background-color);
        font-size: var(--general-font-size-small);
        text-align: center;
        overflow: auto;
        transform-origin: initial;

        &:global(.is-open) {
            animation: fade-in ease 0.1s;
        }

        & i {
            margin-right: 4px;
            display: inline-block;
            width: 10px;
            text-align: center;
        }

        & hr {
            color: var(--color-white);
            opacity: 0.7;
        }

        & > ul {
            list-style-type: none;

            & > li {
                display: flex;
                flex-direction: column;
                background-color: #2d2a2e;
                text-align: left;
                cursor: pointer;
                transition: all 0.1s;

                & > a {
                    padding: 10px;
                    font-size: 1.3em;
                    font-weight: bold;
                    color: var(--general-text-color);
                    text-decoration: none;
                    user-select: none;
                    transition: all 0.1s;
                }

                & > ul {
                    --margin-left: 20px;
                    display: none;
                    flex-direction: column;
                    list-style-type: none;
                    transition: all 0.1s;

                    & > li {
                        display: flex;
                        flex-direction: column;
                        background-color: #2d2a2e;
                        text-align: left;
                        cursor: pointer;
                        transition: all 0.1s;

                        & > a {
                            padding: 10px;
                            margin-left: var(--margin-left);
                            font-size: 1.1em;
                            font-weight: bold;
                            color: var(--general-text-color);
                            text-decoration: none;
                            user-select: none;
                            transition: all 0.1s;
                        }

                        & > ul {
                            --margin-left: 40px;

                            & > li > ul {
                                --margin-left: 60px;

                                & > li > ul {
                                    --margin-left: 80px;

                                    & > li > ul {
                                        --margin-left: 100px;

                                        & > li > ul {
                                            --margin-left: 120px;
                                        }
                                    }
                                }
                            }
                        }

                        & ul {
                            display: none;
                            flex-direction: column;
                            list-style-type: none;
                            transition: all 0.1s;

                            & li {
                                display: flex;
                                flex-direction: column;
                                background-color: #2d2a2e;
                                text-align: left;
                                cursor: pointer;
                                transition: all 0.1s;

                                & > a {
                                    padding: 10px;
                                    margin-left: var(--margin-left);
                                    font-size: 1.1em;
                                    font-weight: bold;
                                    color: var(--general-text-color);
                                    text-decoration: none;
                                    user-select: none;
                                    transition: all 0.1s;
                                }

                                &:hover {
                                    background-color: #383539;

                                    & > a {
                                        color: var(--color-yellow);
                                    }
                                }

                                &:active {
                                    background-color: #383539;

                                    & > a {
                                        color: var(--color-yellow);
                                    }
                                }

                                &.is-open {
                                    & > ul {
                                        display: flex;
                                    }
                                }
                            }

                            &:hover {
                                background-color: #383539;

                                & > a {
                                    color: var(--color-yellow);
                                }
                            }

                            &:active {
                                background-color: #383539;

                                & > a {
                                    color: var(--color-yellow);
                                }
                            }
                        }

                        &:hover {
                            background-color: #383539;

                            & > a {
                                color: var(--color-yellow);
                            }
                        }

                        &:active {
                            background-color: #383539;

                            & > a {
                                color: var(--color-yellow);
                            }
                        }

                        &.is-open {
                            & > ul {
                                display: flex;
                            }
                        }
                    }
                }

                &:hover {
                    background-color: #383539;

                    & > a {
                        color: var(--color-yellow);
                    }
                }

                &:active {
                    background-color: #383539;

                    & > a {
                        color: var(--color-yellow);
                    }
                }

                &.is-open {
                    & > ul {
                        display: flex;
                    }
                }
            }
        }
    }
}

/* Tablet */
@media only screen and (max-device-width: 1024px) and (min-device-width: 741px),
    only screen and (max-width: 1024px) and (min-width: 741px) {
    @media only screen and (max-device-width: 964px),
        only screen and (max-width: 964px) {
        .mobile-menu-icon {
            display: flex !important;
        }
    }
}

/* Mobile */
@media only screen and (max-device-width: 740px),
    only screen and (max-width: 740px) {
    .mobile-menu-icon {
        display: flex !important;
    }
}
