.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 100%;
}

.button:hover > .link {
    color: var(--header-icon-button-icon-color-hover);
    background-color: var(--header-icon-button-background-color-hover);
}

.button + .button {
    margin-left: 12px;
}

.button.is-popup-open > .link {
    color: var(--header-icon-button-icon-color-open);
    background-color: var(--header-icon-button-background-color-hover);
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 36.92px;
    height: 36.92px;
    border-radius: 4px;
    color: var(--header-icon-button-icon-color-default);
    background-color: var(--header-icon-button-background-color-default);
    text-decoration: none;
    opacity: 1;
    transition: all 0.15s;
    -webkit-tap-highlight-color: transparent;
}

.link:active {
    color: var(--header-icon-button-icon-color-active);
    background-color: var(--header-icon-button-background-color-hover);
    opacity: 0.7;
}

.link:focus {
    outline: 0;
}

.icon {
    height: 70%;
}
