.header-icon-button {
    --header-icon-button-icon-color-default: var(--color-gray);
    --header-icon-button-background-color-default: var(
        --header-background-color
    );
    --header-icon-button-icon-color-hover: var(--color-gray-bright);
    --header-icon-button-background-color-hover: #333234;
    --header-icon-button-icon-color-active: var(--color-gray-bright);
    --header-icon-button-background-color-active: var(--color-black-tone-1);
    --header-icon-button-icon-color-open: var(--color-white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--header-height) * 0.83333);
    height: var(--header-height);
    font-size: calc(var(--header-height) / 2);
    font-size: calc(var(--header-height) * 0.45);

    &:hover > .header-icon-button-icon {
        color: var(--header-icon-button-icon-color-hover);
        background-color: var(--header-icon-button-background-color-hover);
    }

    & > .header-icon-button-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 70%;
        border-radius: 4px;
        width: calc(var(--header-height) * 0.675);
        height: calc(var(--header-height) * 0.675);
        border-radius: 4px;
        color: var(--header-icon-button-icon-color-default);
        background-color: var(--header-icon-button-background-color-default);
        text-decoration: none;
        transition: all 0.15s;

        &:active {
            color: var(--header-icon-button-icon-color-active);
            background-color: var(--header-icon-button-background-color-active);
        }
    }

    &.is-popup-open {
        & > .header-icon-button-icon {
            color: var(--header-icon-button-icon-color-open);
            background-color: var(--header-icon-button-background-color-hover);
        }
    }
}
