/**
 * @file 404.css
 * @description 404 styles.
 */

#section-404 {
    --value: -12px;
    padding: 20px 20px;
    user-select: none;
}

#title-404 {
    transform: translateY(var(--value));
    color: var(--color-primary);
    font-size: 100px;
    font-weight: 300;
}

#subtitle-404 {
    transform: translateY(var(--value));
    color: var(--color-white);
    font-weight: 200;
}

#homepage-link-404 {
    transform: translateY(var(--value));
    display: block;
    margin-top: 24px;
    color: var(--color-white);
    text-decoration: none;

    &>button.button {
        font-size: large;
        white-space: nowrap;
    }
}
