/**
 * @file button.css
 * @description Button styles.
 */

button.button {
    --button-text-color-default: var(--color-white);
    --button-text-color-hover: var(--color-black);
    --button-text-color-active: var(--color-white);
    --button-background-color-default: transparent;
    --button-background-color-hover: var(--color-white);
    --button-background-color-active: var(--color-primary);
    --button-border-color-default: var(--color-white);
    --button-border-color-hover: var(--color-white);
    --button-border-color-active: var(--color-white);
    --button-border-width: 2px;
    --button-border-radius: 10px;
    --button-padding-left-right: 4px;
    --button-padding-top-bottom: 10px;
    position: relative;
    padding: calc(var(--button-padding-left-right) + var(--button-border-width)) calc(var(--button-padding-top-bottom) + var(--button-border-width));
    border: 0;
    font-size: 1rem;
    font-weight: bold;
    color: var(--button-text-color-default);
    background: transparent;
    overflow: visible;
    cursor: pointer;
    transition: all 0.15s;
    z-index: 0;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: var(--button-border-width) solid var(--button-border-color-default);
        border-radius: var(--button-border-radius);
        text-align: center;
        background-color: var(--button-background-color-default);
        filter: brightness(1.0);
        z-index: -1;
        transition: all 0.15s;
    }

    &:hover {
        color: var(--button-text-color-hover);
    }

    &:hover::before {
        background-color: var(--button-background-color-hover);
        border: var(--button-border-width) solid var(--button-border-color-hover);
    }

    &:active {
        color: var(--button-text-color-active);
        transition: all 0.05s;
    }

    &:active::before {
        background-color: var(--button-background-color-active);
        border: var(--button-border-width) solid var(--button-border-color-active);
        transition: all 0.05s;
    }

    /* Modifier classes */

    &.alt {
        --button-text-color-default: var(--color-white);
        --button-text-color-hover: var(--color-black);
        --button-text-color-hover: var(--color-white);
        --button-background-color-hover: var(--color-primary);
        --button-text-color-active: var(--color-black);
        --button-background-color-active: var(--color-white);
    }

    &.solid {
        --button-text-color-default: var(--color-black);
        --button-background-color-default: var(--color-white);
        --button-text-color-hover: var(--color-white);
        --button-background-color-hover: var(--color-primary);
        --button-text-color-active: var(--color-white);
        --button-background-color-active: var(--color-primary);
        --button-border-color-default: var(--button-background-color-default);
        --button-border-color-hover: var(--button-background-color-hover);
        --button-border-color-active: var(--button-background-color-active);

        &:active::before {
            filter: brightness(0.8);
        }

        &.alt {
            --button-text-color-default: var(--color-white);
            --button-background-color-default: var(--color-primary);
            --button-text-color-hover: var(--color-white);
            --button-background-color-hover: var(--color-primary);
            --button-text-color-active: var(--color-white);
            --button-background-color-active: var(--color-primary);
            --button-border-color-default: var(--button-background-color-default);
            --button-border-color-hover: var(--button-background-color-hover);
            --button-border-color-active: var(--button-background-color-active);

            &:hover::before {
                filter: brightness(1.15);
            }

            &:active::before {
                filter: brightness(0.8);
            }
        }
    }

    &.small {
        font-size: 0.8rem;
    }

    &.large {
        font-size: 1.2rem;
    }

    /* Color modifier classes */

    &.red {
        --button-background-color-active: var(--color-red);

        &.alt {
            --button-background-color-hover: var(--color-red);
            --button-background-color-active: var(--color-white);
        }

        &.solid {
            --button-background-color-hover: var(--color-red);
            --button-background-color-active: var(--color-red);

            &.alt {
                --button-text-color-default: var(--color-white);
                --button-background-color-default: var(--color-red);
                --button-text-color-hover: var(--color-white);
                --button-background-color-hover: var(--color-red);
                --button-text-color-active: var(--color-white);
                --button-background-color-active: var(--color-red);
                --button-border-color-default: var(--button-background-color-default);
                --button-border-color-hover: var(--button-background-color-hover);
                --button-border-color-active: var(--button-background-color-active);
            }
        }
    }

    &.orange {
        --button-background-color-active: var(--color-orange);

        &.alt {
            --button-background-color-hover: var(--color-orange);
            --button-background-color-active: var(--color-white);
        }

        &.solid {
            --button-background-color-hover: var(--color-orange);
            --button-background-color-active: var(--color-orange);

            &.alt {
                --button-text-color-default: var(--color-white);
                --button-background-color-default: var(--color-orange);
                --button-text-color-hover: var(--color-white);
                --button-background-color-hover: var(--color-orange);
                --button-text-color-active: var(--color-white);
                --button-background-color-active: var(--color-orange);
                --button-border-color-default: var(--button-background-color-default);
                --button-border-color-hover: var(--button-background-color-hover);
                --button-border-color-active: var(--button-background-color-active);
            }
        }
    }

    &.yellow {
        --button-background-color-active: var(--color-yellow);

        &.alt {
            --button-background-color-hover: var(--color-yellow);
            --button-background-color-active: var(--color-white);
        }

        &.solid {
            --button-background-color-hover: var(--color-yellow);
            --button-background-color-active: var(--color-yellow);

            &.alt {
                --button-text-color-default: var(--color-white);
                --button-background-color-default: var(--color-yellow);
                --button-text-color-hover: var(--color-white);
                --button-background-color-hover: var(--color-yellow);
                --button-text-color-active: var(--color-white);
                --button-background-color-active: var(--color-yellow);
                --button-border-color-default: var(--button-background-color-default);
                --button-border-color-hover: var(--button-background-color-hover);
                --button-border-color-active: var(--button-background-color-active);
            }
        }
    }

    &.green {
        --button-background-color-active: var(--color-green);

        &.alt {
            --button-background-color-hover: var(--color-green);
            --button-background-color-active: var(--color-white);
        }

        &.solid {
            --button-background-color-hover: var(--color-green);
            --button-background-color-active: var(--color-green);

            &.alt {
                --button-text-color-default: var(--color-white);
                --button-background-color-default: var(--color-green);
                --button-text-color-hover: var(--color-white);
                --button-background-color-hover: var(--color-green);
                --button-text-color-active: var(--color-white);
                --button-background-color-active: var(--color-green);
                --button-border-color-default: var(--button-background-color-default);
                --button-border-color-hover: var(--button-background-color-hover);
                --button-border-color-active: var(--button-background-color-active);
            }
        }
    }

    &.blue {
        --button-background-color-active: var(--color-blue);

        &.alt {
            --button-background-color-hover: var(--color-blue);
            --button-background-color-active: var(--color-white);
        }

        &.solid {
            --button-background-color-hover: var(--color-blue);
            --button-background-color-active: var(--color-blue);

            &.alt {
                --button-text-color-default: var(--color-white);
                --button-background-color-default: var(--color-blue);
                --button-text-color-hover: var(--color-white);
                --button-background-color-hover: var(--color-blue);
                --button-text-color-active: var(--color-white);
                --button-background-color-active: var(--color-blue);
                --button-border-color-default: var(--button-background-color-default);
                --button-border-color-hover: var(--button-background-color-hover);
                --button-border-color-active: var(--button-background-color-active);
            }
        }
    }

    &.purple {
        --button-background-color-active: var(--color-purple);

        &.alt {
            --button-background-color-hover: var(--color-purple);
            --button-background-color-active: var(--color-white);
        }

        &.solid {
            --button-background-color-hover: var(--color-purple);
            --button-background-color-active: var(--color-purple);

            &.alt {
                --button-text-color-default: var(--color-white);
                --button-background-color-default: var(--color-purple);
                --button-text-color-hover: var(--color-white);
                --button-background-color-hover: var(--color-purple);
                --button-text-color-active: var(--color-white);
                --button-background-color-active: var(--color-purple);
                --button-border-color-default: var(--button-background-color-default);
                --button-border-color-hover: var(--button-background-color-hover);
                --button-border-color-active: var(--button-background-color-active);
            }
        }
    }

    /* State overrides */

    &:disabled {
        --button-text-color-hover: var(--button-text-color-default);
        --button-text-color-active: var(--button-text-color-default);
        --button-background-color-hover: var(--button-background-color-default);
        --button-background-color-active: var(--button-background-color-default);
        --button-border-color-hover: var(--button-border-color-default);
        --button-border-color-active: var(--button-border-color-default);
        filter: brightness(0.6);
        cursor: not-allowed;

        &.solid {
            &:active::before {
                filter: brightness(1.0);
            }

            &.alt {
                &:hover::before {
                    filter: brightness(1.0);
                }

                &:active::before {
                    filter: brightness(1.0);
                }
            }
        }
    }
}