/**
 * @file root.css
 * @description Element-level styles.
 */

:root {
    /* Predefined color variables */
    --color-white: #fcfcfa;
    --color-black: #2d2a2e;
    --color-black-bright: #575558;
    --color-black-bright-intense: #817F82;
    --color-black-darker: #242225;
    --color-black-darker-intense: #1B191C;
    --color-black-tone-1: #3E3B3E;
    --color-gray: #766d78;
    --color-gray-bright: #918a93;
    --color-gray-bright-intense: #ada7ae;
    --color-gray-darker: #5e5760;
    --color-gray-darker-intense: #474148;
    --color-red: #ff6188;
    --color-red-bright: #FF81A0;
    --color-red-bright-intense: #FFA0B8;
    --color-red-darker: #CC4E6D;
    --color-red-darker-intense: #993A52;
    --color-red-vibrant: #ff144f;
    --color-orange: #fc9a69;
    --color-orange-bright: #FDAE87;
    --color-orange-bright-intense: #FDC2A5;
    --color-orange-darker: #CA7B54;
    --color-orange-darker-intense: #975C3F;
    --color-orange-vibrant: #fa681e;
    --color-yellow: #ffd966;
    --color-yellow-bright: #FFE185;
    --color-yellow-bright-intense: #FFE8A3;
    --color-yellow-darker: #CCAE52;
    --color-yellow-darker-intense: #99823D;
    --color-yellow-vibrant: #ffc61a;
    --color-green: #a8db75;
    --color-green-bright: #B9E291;
    --color-green-bright-intense: #CBE9AC;
    --color-green-darker: #86AF5E;
    --color-green-darker-intense: #769952;
    --color-green-vibrant: #82cc38;
    --color-blue: #78dde8;
    --color-blue-bright: #93E4ED;
    --color-blue-bright-intense: #AEEBF1;
    --color-blue-darker: #60B1BA;
    --color-blue-darker-intense: #48858B;
    --color-blue-vibrant: #36ccdd;
    --color-purple: #aa9cf2;
    --color-purple-bright: #BBB0F5;
    --color-purple-bright-intense: #CCC4F7;
    --color-purple-darker: #887DC2;
    --color-purple-darker-intense: #665E91;
    --color-purple-vibrant: #7058e9;
    --color-primary: var(--color-orange);

    /* General variables */
    --general-font-family: -apple-system,
        BlinkMacSystemFont,
        "Noto Sans",
        "Poppins",
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji";
    --general-text-color: var(--color-white);
    --general-font-size-normal: 1rem;
    --general-font-size-small: calc(1rem * 0.8333333);
    --general-font-size-large: calc(1rem * 1.17);
    --general-body-background-color: var(--color-black);
    --general-body-background-gradient-color: linear-gradient(to bottom, rgba(45, 42, 46, 0.8), rgba(45, 42, 46, 0.8));
    --general-body-background-image-url: url("/assets/img/background.jpg");
    --general-scrollbar-background-color: var(--color-black);
    --general-scrollbar-thumb-background-color-default: var(--color-gray);
    --general-scrollbar-thumb-background-color-hover: var(--color-gray-bright);
    --general-scrollbar-thumb-background-color-active: var(--color-gray-bright-intense);

    /* Header variables */
    --header-height: 60px;
    --header-background-color: #221f22;
    --nav-top-item-background-color-default: #221f22;
    --nav-top-item-background-color-hover: #333234;
    --nav-top-item-background-color-active: #333234;
    --nav-top-item-text-color-default: #898889;
    --nav-top-item-text-color-hover: var(--color-white);
    --nav-top-item-text-color-active: var(--color-white);

    --nav-sub-item-background-color-default: #2d2a2e;
    --nav-sub-item-background-color-hover: #383539;
    --nav-sub-item-background-color-active: #383539;
    --nav-sub-item-text-color-default: var(--color-white);
    --nav-sub-item-text-color-hover: var(--color-yellow);
    --nav-sub-item-text-color-active: var(--color-yellow);
    --nav-sub-menu-border-color: #221F22;
    --nav-sub-menu-border-width: 0px;
    --nav-sub-menu-border-radius: 10px;
    --nav-sub-menu-distance: 4px;

    /* Footer variables */
    --footer-height: 140px;
    --footer-background-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: scroll;
    color: var(--general-text-color);
    background-color: var(--general-body-background-color);
    font-family: var(--general-font-family);
    font-size: 87.5%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input,
textarea,
button {
    font-family: var(--general-font-family);
}

::selection {
    color: var(--color-black);
    background-color: var(--color-white);
}

::-webkit-scrollbar {
    background: var(--general-scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background: var(--general-scrollbar-thumb-background-color-default);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--general-scrollbar-thumb-background-color-hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--general-scrollbar-thumb-background-color-active);
}