/**
 * @file root.css
 * @description Element-level styles.
 */

:root {
    /* Predefined color variables */
    --color-white: #fcfcfa;
    --color-gray: #808080;
    --color-davi-gray: #544e56;
    --color-black: #2d2a2e;
    --color-red: #ff6188;
    --color-red-darker: hsl(345, 100%, 54%);
    --color-orange: #fc9867;
    --color-orange-darker: hsl(20, 96%, 55%);
    --color-yellow: #ffd866;
    --color-yellow-darker: hsl(45, 100%, 55%);
    --color-green: #a9dc76;
    --color-green-darker: hsl(90, 59%, 51%);
    --color-blue: #78dce8;
    --color-blue-darker: hsl(186, 71%, 54%);
    --color-purple: #ab9df2;
    --color-purple-darker: hsl(250, 77%, 63%);
    --color-primary: var(--color-orange);

    /* General variables */
    --general-font-family: 'Poppins', sans-serif;
    --general-text-color: var(--color-white);
    --general-body-background-color: var(--color-black);
    --general-body-background-gradient-color: linear-gradient(to bottom, rgba(45, 42, 46, 0.8), rgba(45, 42, 46, 0.8));
    --general-body-background-image-url: url("/assets/img/background.jpg");
    --general-scrollbar-background-color: var(--color-black);
    --general-scrollbar-thumb-background-color-default: var(--color-davi-gray);
    --general-scrollbar-thumb-background-color-hover: var(--color-davi-gray);
    --general-scrollbar-thumb-background-color-active: var(--color-white);

    /* Header variables */
    --header-height: 60px;
    --header-background-color: #221f22;
    --nav-top-item-background-color-default: #221f22;
    --nav-top-item-background-color-hover: #333234;
    --nav-top-item-background-color-active: #333234;
    --nav-top-item-text-color-default: #898889;
    --nav-top-item-text-color-hover: var(--color-white);
    --nav-top-item-text-color-active: var(--color-white);

    --nav-sub-item-background-color-default: #2d2a2e;
    --nav-sub-item-background-color-hover: #383539;
    --nav-sub-item-background-color-active: #383539;
    --nav-sub-item-text-color-default: var(--color-white);
    --nav-sub-item-text-color-hover: var(--color-yellow);
    --nav-sub-item-text-color-active: var(--color-yellow);
    --nav-sub-menu-border-color: #221F22;
    --nav-sub-menu-border-width: 0px;
    --nav-sub-menu-border-radius: 10px;
    --nav-sub-menu-distance: 4px;

    /* Footer variables */
    --footer-height: 140px;
    --footer-background-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    overflow: scroll;
    color: var(--general-text-color);
    background-color: var(--general-body-background-color);
    font-family: var(--general-font-family);
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

input,
textarea,
button {
    font-family: var(--general-font-family);
}

::selection {
    color: var(--color-black);
    background-color: var(--color-white);
}

::-webkit-scrollbar {
    background: var(--general-scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: var(--general-scrollbar-thumb-background-color-default);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--general-scrollbar-thumb-background-color-hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--general-scrollbar-thumb-background-color-active);
}