/**
 * @file style.css
 * @description Main style sheet file.
 */

@import url(./root.css);
@import url(./common.css);
@import url(./checkbox.css);
@import url(./radio.css);
@import url(./button.css);
@import url(./input.css);

/*******
 * CSS *
 *******/

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
    background-image: var(--general-body-background-gradient-color), var(--general-body-background-image-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-background-color);
    box-shadow: 0px 0px 8px 4px rgba(34, 31, 34, 0.4);
    overflow: visible;
    z-index: 100;

    &>#header-left-content-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: var(--header-height);
        margin-left: 0;
        margin-right: auto;
    }

    &>#header-middle-content-box {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: var(--header-height);
    }

    &>#header-right-content-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: var(--header-height);
        margin-left: auto;
        margin-right: 0;
    }

    /* Brand logo */
    & #header-brand-logo {
        width: auto;
        height: 100%;
        padding: 10px 10px;
        filter: brightness(1.0);
        transition: all 0.10s;

        &:hover {
            filter: brightness(1.2);
        }
    }

    /* Brand text */
    & #header-brand-text {
        width: auto;
        height: 100%;
        padding-right: 10px;
        line-height: var(--header-height);
        user-select: none;

        &>h1 {
            font-weight: 300;
            font-size: larger;
            text-decoration: none;
        }
    }

    /* Navigation bar */
    & nav#navbar {
        &>ul {
            position: relative;
            display: flex;
            flex-direction: row;
            width: auto;
            height: 100%;
            background-color: transparent;
            list-style-type: none;

            &>li {
                position: relative;
                background-color: transparent;
                transition: all 0.15s;

                &>a>i {
                    margin-right: 5px;
                }

                &>a {
                    margin: 0px 10px;
                    padding: 4px 12px;
                    border-radius: 8px;
                    font-size: 1.0em;
                    font-weight: bold;
                    text-decoration: none;
                    line-height: var(--header-height);
                    color: var(--nav-top-item-text-color-default);
                    background-color: var(--nav-top-item-background-color-default);
                    filter: brightness(1.0);
                    transition: all 0.05s;

                    &:hover {
                        color: var(--nav-top-item-text-color-hover);
                        background-color: var(--nav-top-item-background-color-hover);
                    }

                    &:active {
                        color: var(--nav-top-item-text-color-active);
                        background-color: var(--nav-top-item-background-color-active);
                        filter: brightness(0.8);
                    }
                }

                &>ul {
                    box-sizing: content-box;
                    position: absolute;
                    left: 50%;
                    top: 100%;
                    width: fit-content;
                    min-width: 100%;
                    transform: translateX(-50%);
                    border: var(--nav-sub-menu-border-width) solid var(--nav-sub-menu-border-color);
                    border-radius: var(--nav-sub-menu-border-radius);
                    background-color: var(--nav-sub-item-background-color-default);
                    box-shadow: 0px 0px 8px 4px rgba(34, 31, 34, 0.4);
                    list-style-type: none;
                    visibility: collapse;
                    opacity: 0;
                    transition: all 0.15s;

                    &>li:first-child {
                        border-radius: var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius) 0px 0px;

                        &>a {
                            border-radius: var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius) 0px 0px;
                        }
                    }

                    &>li:last-child {
                        border-radius: 0px 0px var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius);

                        &>a {
                            border-radius: 0px 0px var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius);
                        }
                    }

                    &>li {
                        position: relative;
                        background-color: var(--nav-sub-item-background-color-default);
                        transition: all 0.15s;

                        &:hover {
                            background-color: var(--nav-sub-item-background-color-hover);

                            &>a {
                                color: var(--nav-sub-item-text-color-hover);
                            }
                        }

                        &>a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            padding: 0px 20px;
                            font-size: 0.9em;
                            font-weight: bold;
                            text-decoration: none;
                            text-align: center;
                            line-height: var(--header-height);
                            color: var(--nav-sub-item-text-color-default);
                            white-space: nowrap;
                            transition: all 0.05s;

                            &:hover {
                                color: var(--nav-sub-item-text-color-hover);
                            }

                            &:active {
                                color: var(--nav-sub-item-text-color-active);
                                background-color: var(--nav-sub-item-background-color-active);
                            }
                        }

                        & ul {
                            box-sizing: content-box;
                            position: absolute;
                            left: calc(100% + var(--nav-sub-menu-border-width) + var(--nav-sub-menu-distance));
                            top: 0%;
                            width: 100%;
                            border: var(--nav-sub-menu-border-width) solid var(--nav-sub-menu-border-color);
                            border-radius: var(--nav-sub-menu-border-radius);
                            background-color: var(--nav-sub-item-background-color-default);
                            box-shadow: 0px 0px 8px 4px rgba(34, 31, 34, 0.4);
                            list-style-type: none;
                            visibility: collapse;
                            opacity: 0;
                            transition: all 0.15s;

                            &>li:first-child {
                                border-radius: var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius) 0px 0px;

                                &>a {
                                    border-radius: var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius) 0px 0px;
                                }
                            }

                            &>li:last-child {
                                border-radius: 0px 0px var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius);

                                &>a {
                                    border-radius: 0px 0px var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius);
                                }
                            }

                            & li {
                                position: relative;
                                background-color: var(--nav-sub-item-background-color-default);
                                transition: all 0.15s;

                                &:hover {
                                    background-color: var(--nav-sub-item-background-color-hover);

                                    &>a {
                                        color: var(--nav-sub-item-text-color-hover);
                                    }
                                }

                                & a {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    font-size: 0.9em;
                                    font-weight: bold;
                                    text-decoration: none;
                                    text-align: center;
                                    line-height: var(--header-height);
                                    color: var(--nav-sub-item-text-color-default);
                                    transition: all 0.05s;

                                    &:hover {
                                        color: var(--nav-sub-item-text-color-hover);
                                    }

                                    &:active {
                                        color: var(--nav-sub-item-text-color-active);
                                        background-color: var(--nav-sub-item-background-color-active);
                                    }
                                }

                                &:hover {
                                    &>ul {
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        &:hover {
                            &>ul {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }

                &:hover {
                    &>ul {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    /* Menu icon */
    & div#mobile-menu-icon {
        position: relative;
        display: none;
        justify-content: center;
        align-items: center;
        width: var(--header-height);
        height: var(--header-height);
        font-size: calc(var(--header-height) / 2);

        &>a {
            color: var(--general-text-color);
            text-decoration: none;
        }

        &>div#mobile-menu-container {
            position: fixed;
            top: var(--header-height);
            right: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            max-height: calc(100vh - var(--header-height));
            border-top: 1px solid var(--color-primary);
            background-color: var(--header-background-color);
            box-shadow: 0px 0px 8px 4px rgba(34, 31, 34, 0.4);
            font-size: 0.4em;
            text-align: center;
            opacity: 0;
            visibility: collapse;
            overflow: auto;
            transition: all 0.10s;

            & i {
                margin-right: 4px;
            }

            & hr {
                color: var(--color-white);
                opacity: 0.7;
            }

            &>ul {
                list-style-type: none;

                &>li {
                    display: flex;
                    flex-direction: column;
                    background-color: #2d2a2e;
                    text-align: left;
                    cursor: pointer;
                    transition: all 0.10s;

                    &>a {
                        padding: 10px;
                        font-size: 1.3em;
                        font-weight: bold;
                        color: var(--general-text-color);
                        text-decoration: none;
                        user-select: none;
                        transition: all 0.10s;
                    }

                    &>ul {
                        --margin-left: 20px;
                        display: none;
                        flex-direction: column;
                        list-style-type: none;
                        transition: all 0.10s;

                        &>li {
                            display: flex;
                            flex-direction: column;
                            background-color: #2d2a2e;
                            text-align: left;
                            cursor: pointer;
                            transition: all 0.10s;

                            &>a {
                                padding: 10px;
                                margin-left: var(--margin-left);
                                font-size: 1.1em;
                                font-weight: bold;
                                color: var(--general-text-color);
                                text-decoration: none;
                                user-select: none;
                                transition: all 0.10s;
                            }

                            &>ul {
                                --margin-left: 40px;

                                &>li>ul {
                                    --margin-left: 60px;

                                    &>li>ul {
                                        --margin-left: 80px;

                                        &>li>ul {
                                            --margin-left: 100px;

                                            &>li>ul {
                                                --margin-left: 120px;
                                            }
                                        }
                                    }
                                }
                            }

                            & ul {
                                display: none;
                                flex-direction: column;
                                list-style-type: none;
                                transition: all 0.10s;

                                & li {
                                    display: flex;
                                    flex-direction: column;
                                    background-color: #2d2a2e;
                                    text-align: left;
                                    cursor: pointer;
                                    transition: all 0.10s;

                                    &>a {
                                        padding: 10px;
                                        margin-left: var(--margin-left);
                                        font-size: 1.1em;
                                        font-weight: bold;
                                        color: var(--general-text-color);
                                        text-decoration: none;
                                        user-select: none;
                                        transition: all 0.10s;
                                    }

                                    &:hover {
                                        background-color: #383539;

                                        &>a {
                                            color: var(--color-yellow);
                                        }
                                    }

                                    &:active {
                                        background-color: #383539;

                                        &>a {
                                            color: var(--color-yellow);
                                        }
                                    }

                                    &.js-open {
                                        &>ul {
                                            display: flex;
                                        }
                                    }
                                }

                                &:hover {
                                    background-color: #383539;

                                    &>a {
                                        color: var(--color-yellow);
                                    }
                                }

                                &:active {
                                    background-color: #383539;

                                    &>a {
                                        color: var(--color-yellow);
                                    }
                                }
                            }

                            &:hover {
                                background-color: #383539;

                                &>a {
                                    color: var(--color-yellow);
                                }
                            }

                            &:active {
                                background-color: #383539;

                                &>a {
                                    color: var(--color-yellow);
                                }
                            }

                            &.js-open {
                                &>ul {
                                    display: flex;
                                }
                            }
                        }
                    }

                    &:hover {
                        background-color: #383539;

                        &>a {
                            color: var(--color-yellow);
                        }
                    }

                    &:active {
                        background-color: #383539;

                        &>a {
                            color: var(--color-yellow);
                        }
                    }

                    &.js-open {
                        &>ul {
                            display: flex;
                        }
                    }
                }
            }
        }

        &.js-open>div#mobile-menu-container {
            opacity: 1;
            visibility: visible;
        }
    }

    /* Icons */
    & div.icon-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--header-height);
        height: var(--header-height);
        font-size: calc(var(--header-height) / 2);

        &>a {
            color: var(--general-text-color);
            text-decoration: none;
        }

        &>div.drop-down-container {
            position: absolute;
            top: 100%;
            right: 0;
            width: max-content;
            height: auto;
            padding: 20px;
            border: 2px solid var(--color-white);
            background-color: var(--color-black);
            font-size: 0.5em;
            text-align: center;
            opacity: 0;
            visibility: collapse;
            transition: all 0.10s;
        }

        &:hover>div.drop-down-container {
            opacity: 1;
            visibility: visible;
        }
    }

    /* Buttons */
    & div.button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 100%;
        margin-right: 10px;

        &.no-margin {
            margin-right: 0;
        }

        &.fill {
            &>button.button {
                width: 100%;
                height: 100%;
                --button-border-radius: 0px;
            }
        }
    }

    /* Inputs */
    & div.input-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        margin-right: 10px;

        &.no-margin {
            margin-right: 0;
        }
    }
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
}

section.content-box {
    --content-box-top-bottom-padding: 50px;
    --inner-content-box-max-width: 1200px;
    --inner-content-box-child-top-margin: 5px;
    flex: auto;
    width: 100%;
    padding: var(--content-box-top-bottom-padding) 0px;
    background-color: transparent;
    overflow: hidden;

    &>section.inner-content-box {
        max-width: var(--inner-content-box-max-width);
        margin-left: auto;
        margin-right: auto;

        & h1 {
            font-size: 1.5em;
        }

        &>*:not(:first-child) {
            margin-top: var(--inner-content-box-child-top-margin);
        }

        &.no-margin {
            --inner-content-box-child-top-margin: 0px;
        }
    }

    &.no-padding {
        --content-box-top-bottom-padding: 0;
    }

    &.flex-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &.fixed-height {
        flex-grow: 0;
    }

    &.top-border {
        border-top: 2px solid var(--color-white);
    }
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--footer-background-color);
    overflow: hidden;

    &>#social-link-wrapper {

        &>a:not(:last-child) {
            margin-right: 5px;
        }

        &>a {
            color: var(--general-text-color);
            text-decoration: none;

            &>i {
                font-size: 24px;
            }
        }
    }

    &>#powered-text {
        margin-top: 5px;
        font-size: small;
        color: var(--color-gray);
        filter: brightness(0.7);
        transition: all 0.10s;

        &>a {
            color: var(--color-gray);
            text-decoration: underline;
            filter: brightness(1.3);
            transition: all 0.10s;

            &:hover {
                filter: brightness(1.5);
            }
        }
    }

    &.top-border {
        border-top: 2px solid var(--color-white);
    }
}

#debug-overlay {
    --debug-overlay-background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--debug-overlay-background-color);
    opacity: 0.9;
    pointer-events: none;
    z-index: 100;

    &>h5 {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        border-radius: 8px;
        white-space: nowrap;
        background-color: var(--color-orange);
    }
}

#modal-overlay {
    --modal-overlay-background-color: rgba(45, 42, 46, 0.9);
    --modal-window-margin: 50px;
    --modal-window-width: 700px;
    --modal-window-height: auto;
    display: none;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--modal-overlay-background-color);
    z-index: 100;

    &>.modal-window {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: var(--modal-window-width);
        height: var(--modal-window-height);
        max-width: calc(100% - var(--modal-window-margin));
        max-height: calc(100% - var(--modal-window-margin));
        margin: auto;
        border: 1px solid var(--color-white);
        background-color: var(--color-black);
        overflow: hidden;

        &.js-open {
            display: flex;
        }

        &.js-animation-open {
            animation: modal-window-fade-in 0.2s ease;
        }

        &.js-animation-close {
            animation: modal-window-fade-out 0.2s ease;
        }
    }

    &.js-open {
        display: flex;
    }
}

#toasts {
    --toast-container-top-right-margin: 32px;
    --toast-title-color: var(--color-white);
    --toast-desc-color: var(--color-white);
    --toast-background-color: var(--color-blue-darker);
    --toast-border-color: var(--color-blue-darker);
    --toast-icon-color: var(--color-white);
    --toast-close-icon-color: var(--color-white);
    position: fixed;
    top: var(--toast-container-top-right-margin);
    right: var(--toast-container-top-right-margin);
    z-index: 100;

    &>.toast {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 490px;
        min-width: calc(280px - (var(--toast-container-top-right-margin) * 2));
        max-width: calc(100vw - (var(--toast-container-top-right-margin) * 2));
        padding: 20px 0;
        border-left: 3px solid var(--toast-border-color);
        border-radius: 4px;
        background-color: var(--toast-background-color);
        box-shadow: 0px 0px 8px 4px rgba(34, 31, 34, 1);
        transition: all 0.3s;

        &+& {
            margin-top: 16px;
        }

        &>.toast-icon {
            font-size: 32px;
            padding: 0 16px;
            color: var(--toast-icon-color);
        }

        &>.toast-close {
            font-size: 28px;
            padding: 0 16px;
            color: var(--toast-close-icon-color);
            cursor: pointer;
            transition: all 0.10s;

            &:hover {
                opacity: 0.7;
            }
        }

        &>.toast-message {
            flex: 1;

            &>.toast-title {
                color: var(--toast-title-color);
                font-weight: bold;
            }

            &>.toast-desc {
                color: var(--toast-desc-color);
                font-weight: medium;
            }
        }

        &.toast-success {
            --toast-background-color: var(--color-green-darker);
            --toast-border-color: var(--color-green-darker);
        }

        &.toast-error {
            --toast-background-color: var(--color-red-darker);
            --toast-border-color: var(--color-red-darker);
        }
    }
}

/***********************
 * KEYFRAME ANIMATIONS *
 ***********************/

@keyframes modal-window-fade-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modal-window-fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {

        opacity: 0;
        transform: translateY(-100px);
    }
}

@keyframes toast-fade-in {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes toast-fade-out {
    to {
        opacity: 0;
    }
}

/*****************
 * MEDIA QUERIES *
 *****************/

@media only screen and (min-width: 1024px) {
    #desktop-overlay {
        display: flex;
    }

    @media only screen and (max-device-width: 1477px),
    only screen and (max-width: 1477px) {
        #header {
            & .input-wrapper {
                display: none !important;
            }
        }
    }

    @media only screen and (max-device-width: 1266px),
    only screen and (max-width: 1266px) {
        #header {
            & .button-wrapper {
                display: none !important;
            }
        }
    }
}

@media only screen and (max-device-width: 1023px) and (min-device-width: 741px),
only screen and (max-width: 1023px) and (min-width: 741px) {
    #tablet-overlay {
        display: flex;
    }

    #header {
        & .input-wrapper {
            display: none !important;
        }

        & .button-wrapper {
            display: none !important;
        }
    }

    @media only screen and (max-device-width: 964px),
    only screen and (max-width: 964px) {
        #header {
            & #navbar {
                display: none;
            }

            & div#mobile-menu-icon {
                display: flex;
            }
        }
    }
}

@media only screen and (max-device-width: 740px),
only screen and (max-width: 740px) {
    #mobile-overlay {
        display: flex;
    }

    #header {
        & .input-wrapper {
            display: none !important;
        }

        & .button-wrapper {
            display: none !important;
        }
    }

    #header {
        & #navbar {
            display: none;
        }

        & #user-icon {
            display: none;
        }

        & #settings-icon {
            display: none;
        }

        & div#mobile-menu-icon {
            display: flex;

            & li {
                display: flex !important;
            }

            & hr {
                display: block !important;
            }
        }
    }

    @media only screen and (max-device-width: 359px),
    only screen and (max-width: 359px) {
        #header {

            & #header-left-content-box {
                margin-right: 0;
            }

            & .icon-wrapper,
            & #header-right-content-box {
                display: none !important;
            }
        }
    }

    @media only screen and (max-device-width: 240px),
    only screen and (max-width: 240px) {

        html,
        body,
        #root {
            overflow: hidden !important;
        }

        #header {
            height: 100%;

            & div {
                display: none !important;
            }

            &::before {
                display: block;
                content: 'The current device viewport dimension is unsupported.';
                font-size: 0.8rem;
                opacity: 0.1;
                text-align: center;
            }
        }
    }
}