/**
 * @file style.css
 * @description Main style sheet file.
 */

@import url(./root.css);
@import url(./common.css);
@import url(./checkbox.css);
@import url(./radio.css);
@import url(./button.css);
@import url(./input.css);

/*******
 * CSS *
 *******/

#root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
    background-image: var(--general-body-background-gradient-color), var(--general-body-background-image-url);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-background-color);
    box-shadow: 0px 0px 8px 4px rgba(34, 31, 34, 0.4);
    overflow: visible;
    z-index: 100;

    &>#header-left-content-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: var(--header-height);
        margin-left: 0;
        margin-right: auto;
    }

    &>#header-middle-content-box {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: var(--header-height);
    }

    &>#header-right-content-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: var(--header-height);
        margin-left: auto;
        margin-right: 0;
    }

    /* Brand Logo */
    & #header-brand-logo {
        width: auto;
        height: 100%;
        padding: 10px 10px;
        filter: brightness(1.0);
        transition: all 0.10s;

        &:hover {
            filter: brightness(1.2);
        }
    }

    /* Brand Text */
    & #header-brand-text {
        width: auto;
        height: 100%;
        padding-right: 10px;
        line-height: var(--header-height);
        user-select: none;

        &>h1 {
            font-weight: 300;
            font-size: larger;
            text-decoration: none;
        }
    }

    /* Navigation bar */
    & nav#navbar {
        &>ul {
            position: relative;
            display: flex;
            flex-direction: row;
            width: auto;
            height: 100%;
            background-color: transparent;
            list-style-type: none;

            &>li {
                position: relative;
                background-color: transparent;
                transition: all 0.15s;

                &>a {
                    margin: 0px 10px;
                    padding: 4px 10px;
                    border-radius: 8px;
                    font-size: 1.3em;
                    font-weight: bold;
                    text-decoration: none;
                    line-height: var(--header-height);
                    color: var(--nav-top-item-text-color-default);
                    background-color: var(--nav-top-item-background-color-default);
                    filter: brightness(1.0);
                    transition: all 0.05s;

                    &:hover {
                        color: var(--nav-top-item-text-color-hover);
                        background-color: var(--nav-top-item-background-color-hover);
                    }

                    &:active {
                        color: var(--nav-top-item-text-color-active);
                        background-color: var(--nav-top-item-background-color-active);
                        filter: brightness(0.8);
                    }
                }

                &>ul {
                    box-sizing: content-box;
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    border: var(--nav-sub-menu-border-width) solid var(--nav-sub-menu-border-color);
                    border-radius: var(--nav-sub-menu-border-radius);
                    background-color: var(--nav-sub-item-background-color-default);
                    box-shadow: 0px 0px 8px 4px rgba(34, 31, 34, 0.4);
                    list-style-type: none;
                    visibility: collapse;
                    opacity: 0;
                    transition: all 0.15s;

                    &>li:first-child {
                        border-radius: var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius) 0px 0px;

                        &>a {
                            border-radius: var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius) 0px 0px;
                        }
                    }

                    &>li:last-child {
                        border-radius: 0px 0px var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius);

                        &>a {
                            border-radius: 0px 0px var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius);
                        }
                    }

                    &>li {
                        position: relative;
                        background-color: var(--nav-sub-item-background-color-default);
                        transition: all 0.15s;

                        &:hover {
                            background-color: var(--nav-sub-item-background-color-hover);

                            &>a {
                                color: var(--nav-sub-item-text-color-hover);
                            }
                        }

                        &>a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            font-size: 1.0em;
                            font-weight: bold;
                            text-decoration: none;
                            text-align: center;
                            line-height: var(--header-height);
                            color: var(--nav-sub-item-text-color-default);
                            transition: all 0.05s;

                            &:hover {
                                color: var(--nav-sub-item-text-color-hover);
                            }

                            &:active {
                                color: var(--nav-sub-item-text-color-active);
                                background-color: var(--nav-sub-item-background-color-active);
                            }
                        }

                        & ul {
                            box-sizing: content-box;
                            position: absolute;
                            left: calc(100% + var(--nav-sub-menu-border-width) + var(--nav-sub-menu-distance));
                            top: 0%;
                            width: 100%;
                            border: var(--nav-sub-menu-border-width) solid var(--nav-sub-menu-border-color);
                            border-radius: var(--nav-sub-menu-border-radius);
                            background-color: var(--nav-sub-item-background-color-default);
                            box-shadow: 0px 0px 8px 4px rgba(34, 31, 34, 0.4);
                            list-style-type: none;
                            visibility: collapse;
                            opacity: 0;
                            transition: all 0.15s;

                            &>li:first-child {
                                border-radius: var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius) 0px 0px;

                                &>a {
                                    border-radius: var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius) 0px 0px;
                                }
                            }

                            &>li:last-child {
                                border-radius: 0px 0px var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius);

                                &>a {
                                    border-radius: 0px 0px var(--nav-sub-menu-border-radius) var(--nav-sub-menu-border-radius);
                                }
                            }

                            & li {
                                position: relative;
                                background-color: var(--nav-sub-item-background-color-default);
                                transition: all 0.15s;

                                &:hover {
                                    background-color: var(--nav-sub-item-background-color-hover);

                                    &>a {
                                        color: var(--nav-sub-item-text-color-hover);
                                    }
                                }

                                & a {
                                    display: block;
                                    width: 100%;
                                    height: 100%;
                                    font-size: 1.0em;
                                    font-weight: bold;
                                    text-decoration: none;
                                    text-align: center;
                                    line-height: var(--header-height);
                                    color: var(--nav-sub-item-text-color-default);
                                    transition: all 0.05s;

                                    &:hover {
                                        color: var(--nav-sub-item-text-color-hover);
                                    }

                                    &:active {
                                        color: var(--nav-sub-item-text-color-active);
                                        background-color: var(--nav-sub-item-background-color-active);
                                    }
                                }

                                &:hover {
                                    &>ul {
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }
                        }

                        &:hover {
                            &>ul {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }

                &:hover {
                    &>ul {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    /* Icons */
    & div.icon-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--header-height);
        height: var(--header-height);
        font-size: calc(var(--header-height) / 2);

        &>a {
            color: var(--general-text-color);
            text-decoration: none;
        }

        &>div.drop-down-container {
            position: absolute;
            top: 100%;
            right: 0;
            width: max-content;
            height: auto;
            padding: 20px;
            border: 2px solid var(--color-white);
            background-color: var(--color-black);
            font-size: 0.5em;
            text-align: center;
            opacity: 0;
            visibility: collapse;
            transition: all 0.10s;
        }

        &:hover>div.drop-down-container {
            opacity: 1;
            visibility: visible;
        }
    }

    /* Buttons */
    & div.button-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 100%;
        margin-right: 10px;

        &.no-margin {
            margin-right: 0;
        }

        &.fill {
            &>button.button {
                width: 100%;
                height: 100%;
                --button-border-radius: 0px;
            }
        }
    }

    /* Inputs */
    & div.input-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 100%;
        margin-right: 10px;

        &.no-margin {
            margin-right: 0;
        }
    }
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding-top: var(--header-height);
    padding-bottom: var(--footer-height);
}

section.content-box {
    --content-box-top-bottom-padding: 50px;
    --inner-content-box-max-width: 1200px;
    --inner-content-box-child-top-margin: 5px;
    flex: auto;
    width: 100%;
    padding: var(--content-box-top-bottom-padding) 0px;
    background-color: transparent;
    overflow: hidden;

    &>section.inner-content-box {
        max-width: var(--inner-content-box-max-width);
        margin-left: auto;
        margin-right: auto;

        & h1 {
            font-size: 1.5em;
        }

        &>*:not(:first-child) {
            margin-top: var(--inner-content-box-child-top-margin);
        }

        &.no-margin {
            --inner-content-box-child-top-margin: 0px;
        }
    }

    &.no-padding {
        --content-box-top-bottom-padding: 0;
    }

    &.flex-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &.fixed-height {
        flex-grow: 0;
    }

    &.top-border {
        border-top: 2px solid var(--color-white);
    }
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    background-color: var(--footer-background-color);
    overflow: hidden;

    &>#social-link-wrapper {

        &>a:not(:last-child) {
            margin-right: 5px;
        }

        &>a {
            color: var(--general-text-color);
            text-decoration: none;

            &>i {
                font-size: 24px;
            }
        }
    }

    &>#powered-text {
        margin-top: 5px;
        font-size: small;
        color: var(--color-gray);
        filter: brightness(0.7);
        transition: all 0.10s;

        &>a {
            color: var(--color-gray);
            text-decoration: underline;
            filter: brightness(1.3);
            transition: all 0.10s;

            &:hover {
                filter: brightness(1.5);
            }
        }
    }

    &.top-border {
        border-top: 2px solid var(--color-white);
    }
}

#modal-overlay {
    --modal-overlay-background-color: rgba(45, 42, 46, 0.9);
    --modal-window-margin: 50px;
    --modal-window-width: 700px;
    --modal-window-height: auto;
    display: none;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--modal-overlay-background-color);
    z-index: 100;

    &>.modal-window {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: var(--modal-window-width);
        height: var(--modal-window-height);
        max-width: calc(100% - var(--modal-window-margin));
        max-height: calc(100% - var(--modal-window-margin));
        margin: auto;
        border: 1px solid var(--color-white);
        background-color: var(--color-black);
        overflow: hidden;

        &.js-open {
            display: flex;
        }

        &.js-animation-open {
            animation: modal-window-fadein 0.2s ease;
        }

        &.js-animation-close {
            animation: modal-window-fadeout 0.2s ease;
        }
    }

    &.js-open {
        display: flex;
    }
}

/***********************
 * KEYFRAME ANIMATIONS *
 ***********************/

@keyframes modal-window-fadein {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modal-window-fadeout {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {

        opacity: 0;
        transform: translateY(-100px);
    }
}

/*****************
 * MEDIA QUERIES *
 *****************/

@media only screen and (max-width: 1300px) {
    #header .input-wrapper {
        display: none !important;
    }
}

@media only screen and (max-width: 1150px) {
    #header .button {
        display: none !important;
    }
}

@media only screen and (max-width: 850px) {
    #header #navbar #navbar-item-4 {
        display: none !important;
    }
}

@media only screen and (max-width: 725px) {
    #header #navbar #navbar-item-3 {
        display: none !important;
    }
}

@media only screen and (max-width: 640px) {
    #header #navbar #navbar-item-2 {
        display: none !important;
    }
}

@media only screen and (max-width: 600px) {
    #header #navbar #navbar-item-1 {
        display: none !important;
    }
}

@media only screen and (max-width: 597px) {
    #header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        & #header-brand-logo {
            padding-left: 0;
        }

        & #header-brand-text {
            padding-right: 0;
        }

        & #header-left-content-box {
            margin-left: auto;
        }

        & .icon-wrapper,
        & .button-wrapper,
        & .input-wrapper,
        & #header-middle-content-box,
        & #header-right-content-box {
            display: none !important;
        }
    }
}

@media only screen and (max-height: 60px) {

    html,
    body,
    #root {
        overflow: hidden;
    }

    #content-wrapper,
    #footer {
        display: none;
    }

    #header {
        --header-height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        & #header-left-content-box,
        & #header-middle-content-box,
        & #header-right-content-box,
        & #header-brand-logo,
        & #header-brand-text {
            display: none;
        }

        & .icon-wrapper,
        & .button-wrapper,
        & .input-wrapper {
            display: none !important;
        }

        &::before {
            content: 'The current device viewport dimension is unsupported.';
            opacity: 0.1;
            font-size: 1rem;
            text-align: center;
        }
    }
}

@media only screen and (max-width: 500px) {

    html,
    body,
    #root {
        overflow: hidden;
    }

    #content-wrapper,
    #footer {
        display: none;
    }

    #header {
        --header-height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        & #header-left-content-box,
        & #header-middle-content-box,
        & #header-right-content-box,
        & #header-brand-logo,
        & #header-brand-text {
            display: none;
        }

        & .icon-wrapper,
        & .button-wrapper,
        & .input-wrapper {
            display: none !important;
        }

        &::before {
            content: 'The current device viewport dimension is unsupported.';
            opacity: 0.1;
            font-size: 4px;
            text-align: center;
        }
    }
}