* + .link {
    margin-left: 12px;
}

.link {
    height: 100%;
    color: var(--header-brand-text);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.link:focus {
    outline: 0;
}

.text-wrapper {
    width: auto;
    height: 100%;
    line-height: 56.8px;
    user-select: none;
}

.text {
    font-weight: 500;
    font-size: 16.8px;
    text-decoration: none;
}

/* Mobile */
@media only screen and (width <= 740px) {
    .link {
        display: none;
    }
}
@media only screen and (max-width: 740px) {
    .link {
        display: none;
    }
}
