select.select {
    padding: 4px 8px;
    border: var(--select-border-width) solid var(--select-border-color-default);
    border-radius: var(--select-border-radius);
    font-size: 1rem;
    color: var(--select-text-color);
    background-color: var(--select-background-color);
    transition: all 0.15s;

    &:focus {
        outline: 0;
        border-color: var(--select-border-color-focus);
    }

    &:disabled {
        opacity: 0.65;
        pointer-events: none;
    }

    &.small {
        font-size: 0.8rem;
    }

    &.large {
        font-size: 1.2rem;
    }

    &.red {
        --select-border-color-focus: var(--color-red);
    }

    &.red {
        --select-border-color-focus: var(--color-red);
    }

    &.orange {
        --select-border-color-focus: var(--color-orange);
    }

    &.yellow {
        --select-border-color-focus: var(--color-yellow);
    }

    &.green {
        --select-border-color-focus: var(--color-green);
    }

    &.blue {
        --select-border-color-focus: var(--color-blue);
    }

    &.purple {
        --select-border-color-focus: var(--color-purple);
    }

    &.black {
        --select-border-color-focus: var(--color-black);
    }
}
