.select {
    padding: var(--select-padding-top-bottom) var(--select-padding-left-right);
    border: var(--select-border-width) solid var(--select-border-color-default);
    border-radius: var(--select-border-radius);
    font-size: 1rem;
    color: var(--select-text-color);
    background-color: var(--select-background-color);
    transition: all 0.15s;
}

.select:focus {
    outline: 0;
    border-color: var(--select-border-color-focus);
}

.select:disabled {
    opacity: 0.65;
    pointer-events: none;
}

.select.small {
    font-size: 0.8rem;
}

.select.large {
    font-size: 1.2rem;
}

.select.red {
    --select-border-color-focus: var(--color-red);
}

.select.red {
    --select-border-color-focus: var(--color-red);
}

.select.orange {
    --select-border-color-focus: var(--color-orange);
}

.select.yellow {
    --select-border-color-focus: var(--color-yellow);
}

.select.green {
    --select-border-color-focus: var(--color-green);
}

.select.blue {
    --select-border-color-focus: var(--color-blue);
}

.select.purple {
    --select-border-color-focus: var(--color-purple);
}

.select.black {
    --select-border-color-focus: var(--color-black);
}
