section.content-section {
    --content-section-top-bottom-padding: 50px;
    --inner-content-section-max-width: 1200px;
    --inner-content-section-child-top-margin: 5px;
    --inner-content-section-heading-top-margin: 13px;
    flex: auto;
    width: 100%;
    padding: var(--content-section-top-bottom-padding) 0px;
    background-color: transparent;
    overflow: hidden;

    & > section.inner-content-section {
        max-width: var(--inner-content-section-max-width);
        margin-left: auto;
        margin-right: auto;

        & h1 {
            font-size: 1.5em;
        }

        & > *:not(:first-child) {
            margin-top: var(--inner-content-section-child-top-margin);
        }

        & > h1 + *:not(:first-child),
        & > h2 + *:not(:first-child),
        & > h3 + *:not(:first-child),
        & > h4 + *:not(:first-child),
        & > h5 + *:not(:first-child),
        & > h6 + *:not(:first-child) {
            margin-top: var(--inner-content-section-heading-top-margin);
        }

        & h1:not(:first-child),
        & h2:not(:first-child),
        & h3:not(:first-child),
        & h4:not(:first-child),
        & h5:not(:first-child),
        & h6:not(:first-child) {
            margin-top: var(--inner-content-section-heading-top-margin);
        }
    }

    &.no-child-default-margin {
        --inner-content-section-child-top-margin: 0px;
        --inner-content-section-heading-top-margin: 0px;
    }

    &.no-padding {
        --content-section-top-bottom-padding: 0;
    }

    &.flex-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &.fixed-height {
        flex-grow: 0;
    }

    &.top-border {
        border-top: 2px solid var(--color-white);
    }
}
