.link {
    height: 100%;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.link:focus {
    outline: 0;
}

.logo {
    width: auto;
    height: 100%;
    padding: 12px;
    filter: brightness(1);
    transition: all 0.1s;
}

.logo:hover {
    filter: brightness(1.2);
}
