:root {
    /* Predefined color variables */
    --color-white: #fcfcfa;
    --color-black: #2d2a2e;
    --color-black-bright: #423f42;
    --color-gray: #727072;
    --color-gray-bright: #807e80;
    --color-gray-darker: #666466;
    --color-red: #ff6188;
    --color-red-bright: #ff7093;
    --color-red-darker: #e5577a;
    --color-red-vibrant: #ff144f;
    --color-orange: #fc9a69;
    --color-orange-bright: #fca478;
    --color-orange-darker: #e28a5e;
    --color-orange-vibrant: #fa681e;
    --color-yellow: #ffd966;
    --color-yellow-bright: #ffdc75;
    --color-yellow-darker: #e5c35b;
    --color-yellow-vibrant: #ffc61a;
    --color-green: #a8db75;
    --color-green-bright: #b0de82;
    --color-green-darker: #97c569;
    --color-green-vibrant: #82cc38;
    --color-blue: #78dde8;
    --color-blue-bright: #85e0ea;
    --color-blue-darker: #6cc6d0;
    --color-blue-vibrant: #36ccdd;
    --color-purple: #aa9cf2;
    --color-purple-bright: #b2a5f3;
    --color-purple-darker: #998cd9;
    --color-purple-vibrant: #7058e9;

    --text-light: #231f20;
    --text-light-hover: #231f20;
    --text-light-highlight: var(--color-primary);
    --text-light-dim: #5b5a5a;
    --background-light: #f7f7f7;
    --background-light-highlight: rgba(64, 162, 230, 0.2);
    --shadow-light: #00000033;

    --context-text-light: #231f20;
    --context-text-light-hover: #231f20;
    --context-text-light-highlight: var(--color-primary);
    --context-text-light-dim: #5b5a5a;
    --context-background-light: #f4f4f4;
    --context-background-light-highlight: rgba(64, 162, 230, 0.15);
    --context-shadow-light: #00000033;

    --text-dark: #f7f7f7;
    --text-dark-hover: #f7f7f7;
    --text-dark-highlight: #f7f7f7;
    --text-dark-dim: #f7f7f7;
    --background-dark: #231f20;
    --background-dark-highlight: #6b6b6b;
    --shadow-dark: rgba(35, 31, 32, 0.25);

    --context-text-dark: blue;
    --context-text-dark-hover: blue;
    --context-text-dark-highlight: blue;
    --context-text-dark-dim: blue;
    --context-background-dark: blue;
    --context-background-dark-highlight: blue;
    --context-shadow-dark: blue;

    --color-primary: rgba(64, 162, 230, 1);
    --color-success: var(--color-green);
    --color-warning: var(--color-yellow);
    --color-danger: var(--color-red);

    --color-scrollbar-background: var(--color-black);
    --color-scrollbar-thumb-background-default: var(--color-gray);
    --color-scrollbar-thumb-background-hover: var(--color-gray-bright);
    --color-scrollbar-thumb-background-active: var(--color-gray-darker);

    /* Component variables */
    --header-height: 56.8px;
    --header-background-color: rgba(247, 247, 247, 0.8);
    --header-shadow-color: var(--shadow-light);
    --header-text-color: var(--text-light);
    --header-brand-text: var(--text-light);
    --header-backdrop-filter: blur(4px);

    --header-icon-button-icon-color-default: var(--text-light);
    --header-icon-button-background-color-default: rgba(247, 247, 247, 0);
    --header-icon-button-icon-color-hover: var(--text-light-hover);
    --header-icon-button-background-color-hover: rgba(211, 211, 211, 0.6);
    --header-icon-button-icon-color-active: var(--text-light-hover);
    --header-icon-button-background-color-active: rgba(211, 211, 211, 0.6);
    --header-icon-button-icon-color-open: var(--text-light-hover);

    --footer-height: 0px;
    --footer-background-color: #f7f7f7;
    --footer-border-top: 2px solid rgba(0, 0, 0, 0.1);
    --footer-business-section-border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    --footer-text-color: var(--text-light);
    --footer-text-dim-color: var(--text-light-dim);
    --footer-text-highlight-color: var(--color-primary);
    --footer-heading-text-color: var(--text-light);
    --footer-heading-border-color: var(--color-primary);

    --navbar-item-background-color-default: rgba(247, 247, 247, 0);
    --navbar-item-background-color-hover: rgba(64, 162, 230, 0.1);
    --navbar-item-background-color-active: var(--background-light-highlight);
    --navbar-item-background-color-link-active: var(
        --background-light-highlight
    );
    --navbar-item-background-color-link-pending: var(
        --background-light-highlight
    );

    --navbar-item-text-color-default: var(--text-light);
    --navbar-item-text-color-hover: rgba(64, 162, 230, 1);
    --navbar-item-text-color-active: rgba(64, 162, 230, 1);
    --navbar-item-text-color-link-active: var(--text-light-highlight);
    --navbar-item-text-color-link-pending: var(--navbar-item-text-color-hover);

    --navbar-subitem-background-color-default: rgba(244, 244, 244, 0);
    --navbar-subitem-background-color-hover: var(
        --context-background-light-highlight
    );
    --navbar-subitem-background-color-active: var(
        --context-background-light-highlight
    );
    --navbar-subitem-background-color-link-active: var(
        --navbar-subitem-background-color-hover
    );
    --navbar-subitem-background-color-link-pending: var(
        --navbar-subitem-background-color-hover
    );
    --navbar-subitem-text-color-default: var(--context-text-light);
    --navbar-subitem-text-color-hover: var(--context-text-light-highlight);
    --navbar-subitem-text-color-active: var(--context-text-light-highlight);
    --navbar-subitem-text-color-link-active: var(
        --context-text-light-highlight
    );
    --navbar-subitem-text-color-link-pending: var(
        --navbar-subitem-text-color-hover
    );
    --navbar-subitem-desc-text-default: var(--context-text-light-dim);

    --navbar-sublist-background-color: rgba(244, 244, 244, 0.8);
    --navbar-sublist-border-color: transparent;
    --navbar-sublist-border-width: 0px;
    --navbar-sublist-border-radius: 10px;
    --navbar-sublist-shadow-color: var(--context-shadow-light);
    --navbar-sublist-backdrop-filter: blur(4px);

    --mobile-navbar-blur-layer-background-color: #0006;
    --mobile-navbar-blur-layer-backdrop-filter: blur(10px);
    --mobile-navbar-background-color: var(--context-background-light);
    --mobile-navbar-shadow-color: #00000033;
    --mobile-navbar-close-color-default: var(--context-text-light-dim);
    --mobile-navbar-close-color-hover: var(--context-text-light);
    --mobile-navbar-close-background-color-highlight: rgba(211, 211, 211, 0.5);
    --mobile-navbar-section-title-text-color: var(--context-text-light-dim);
    --mobile-navbar-item-text-color-default: var(--context-text-light);
    --mobile-navbar-item-background-color-default: rgba(228, 238, 245, 0);
    --mobile-navbar-item-background-color-hover: #e4eef5;
    --mobile-navbar-item-background-color-highlight: #d3e6f4;
    --mobile-navbar-item-text-color-hover: #40a2e6;
    --mobile-navbar-item-text-color-highlight: #40a2e6;
    --mobile-navbar-item-desc-text-color: var(--context-text-light-dim);

    --popup-window-text-color: var(--context-text-light);
    --popup-window-background-color: var(--context-background-light);
    --popup-window-padding: 10px;
    --popup-window-border-color: var(--context-background-light);
    --popup-window-border-width: 2px;
    --popup-window-border-radius: 4px;
    --popup-window-shadow-color: var(--context-shadow-light);

    --context-item-text-color-highlight: var(--context-text-light);
    --context-item-background-color-highlight: #e8e8e8;

    --context-text: var(--context-text-light);
    --context-text-hover: var(--context-text-light-hover);
    --context-text-highlight: var(--context-text-light-highlight);
    --context-text-dim: var(--context-text-light-dim);
    --context-background: var(--context-background-light);
    --context-background-highlight: var(--context-background-light-highlight);
    --context-shadow: var(--context-shadow-light);

    --toast-container-top-right-margin: 32px;
    --toast-title-color: var(--color-white);
    --toast-desc-color: var(--color-white);
    --toast-background-color: linear-gradient(
        45deg,
        rgba(64, 162, 230, 1) 0%,
        rgba(71, 208, 255, 1) 100%
    );
    --toast-border-color: transparent;
    --toast-border-width: 0px;
    --toast-border-radius: 4px;
    --toast-icon-color: var(--color-white);
    --toast-close-icon-color: var(--color-white);
    --toast-shadow-color: var(--shadow-dark2, #33333327);

    --modal-overlay-fade-in-duration: 0.1s;
    --modal-overlay-background-color: #0006;
    --modal-overlay-backdrop-filter: blur(1px);
    --modal-window-margin: 50px;
    --modal-window-width: auto;
    --modal-window-height: auto;
    --modal-window-border-width: 2px;
    --modal-window-border-radius: 4px;
    --modal-window-border-color: var(--color-gray);
    --modal-window-text-color: var(--context-text);
    --modal-window-background-color: var(--context-background);
    --alert-modal-window-title-text-color: rgb(53, 53, 53);
    --alert-modal-window-message-text-color: rgb(91, 90, 90);

    --button-text-color-default: rgba(255, 255, 255, 0.9);
    --button-text-color-hover: rgba(255, 255, 255, 0.9);
    --button-text-color-active: rgba(255, 255, 255, 0.9);
    --button-background-color-default: linear-gradient(
        0deg,
        rgba(64, 162, 230, 1) 0%,
        rgba(71, 208, 255, 1) 100%
    );
    --button-background-color-hover: var(--button-background-color-default);
    --button-background-color-active: var(--button-background-color-default);
    --button-border-color-default: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;
    --button-shadow: 0px 4px 8px rgba(64, 162, 230, 0.2);
    --button-text-shadow: 0 0 4px rgba(45, 42, 46, 0.15);
    --button-focus-border-color: lightblue;
    --button-border-width: 0px;
    --button-border-radius: 6px;
    --button-padding-left-right: 10px;
    --button-padding-top-bottom: 6px;

    --input-text-color-default: var(--text-light);
    --input-text-color-hover: var(--input-text-color-default);
    --input-text-color-active: var(--input-text-color-default);
    --input-text-color-focus: var(--input-text-color-default);
    --input-background-color-default: var(--context-background-light);
    --input-background-color-hover: var(--input-background-color-default);
    --input-background-color-active: var(--input-background-color-default);
    --input-background-color-focus: var(--input-background-color-default);
    --input-border-color-default: var(--background-dark);
    --input-border-color-hover: var(--input-border-color-default);
    --input-border-color-active: var(--input-border-color-default);
    --input-icon-color-default: var(--text-light);
    --input-icon-color-focus: var(--color-primary);
    --input-border-color-focus: var(--color-primary);
    --input-border-width: 2px;
    --input-border-radius: 6px;
    --input-padding-left-right: 4px;
    --input-padding-top-bottom: 4px;
    --input-icon-extra-padding: 4px;

    --checkbox-symbol-color-default: transparent;
    --checkbox-symbol-color-hover: var(--checkbox-symbol-color-default);
    --checkbox-symbol-color-active: var(--checkbox-symbol-color-default);
    --checkbox-symbol-color-checked: var(--color-white);
    --checkbox-background-color-default: transparent;
    --checkbox-background-color-hover: var(--checkbox-background-color-default);
    --checkbox-background-color-active: var(
        --checkbox-background-color-default
    );
    --checkbox-background-color-checked: var(--color-primary);
    --checkbox-border-color-default: var(--color-primary);
    --checkbox-border-color-hover: var(--checkbox-border-color-default);
    --checkbox-border-color-active: var(--checkbox-border-color-default);
    --checkbox-border-color-checked: var(--checkbox-border-color-default);
    --checkbox-focus-border-color: lightblue;

    --radio-symbol-color-default: transparent;
    --radio-symbol-color-hover: transparent;
    --radio-symbol-color-active: transparent;
    --radio-symbol-color-checked: var(--color-white);
    --radio-background-color-default: transparent;
    --radio-background-color-hover: transparent;
    --radio-background-color-active: transparent;
    --radio-background-color-checked: var(--color-primary);
    --radio-border-color-default: var(--color-primary);
    --radio-border-color-hover: var(--color-primary);
    --radio-border-color-active: var(--color-primary);
    --radio-border-color-checked: var(--color-primary);
    --radio-focus-border-color: lightblue;

    --labeled-input-label-text-color: var(--color-white);
    --labeled-input-text-color-default: var(--text-light);
    --labeled-input-inner-background-color-default: var(--color-white);
    --labeled-input-inner-background-color-hover: var(--color-white);
    --labeled-input-inner-background-color-focus: var(--color-white);
    --labeled-input-background-color-default: var(--color-primary);
    --labeled-input-border-color-default: var(--color-primary);
    --labeled-input-focus-color: lightblue;
    --labeled-input-font-weight-default: 400;
    --labeled-input-text-color-default-reverse: var(--color-white);
    --labeled-input-inner-background-color-default-reverse: var(--color-black);
    --labeled-input-inner-background-color-hover-reverse: var(
        --color-black-bright
    );
    --labeled-input-inner-background-color-focus-reverse: var(
        --color-black-bright
    );
    --labeled-input-font-weight-reverse: 500;

    --select-text-color: var(--text-light);
    --select-background-color: var(--context-background-light);
    --select-border-color-default: var(--background-dark);
    --select-border-color-focus: var(--color-primary);
    --select-border-width: 2px;
    --select-border-radius: 6px;

    --labeled-select-label-text-color: var(--color-white);
    --labeled-select-text-color-default: var(--text-light);
    --labeled-select-inner-background-color-default: var(--color-white);
    --labeled-select-inner-background-color-hover: var(--color-white);
    --labeled-select-inner-background-color-focus: var(--color-white);
    --labeled-select-background-color-default: var(--color-primary);
    --labeled-select-border-color-default: var(--color-primary);
    --labeled-select-focus-color: lightblue;
    --labeled-select-font-weight-default: 400;
    --labeled-select-text-color-default-reverse: var(--color-white);
    --labeled-select-inner-background-color-default-reverse: var(--color-black);
    --labeled-select-inner-background-color-hover-reverse: var(
        --color-black-bright
    );
    --labeled-select-inner-background-color-focus-reverse: var(
        --color-black-bright
    );
    --labeled-select-font-weight-reverse: 500;

    --server-message-text-color-info: var(--color-blue);
    --server-message-background-color-info: rgba(120, 221, 232, 0.2);
    --server-message-border-color-info: var(--color-blue);
    --server-message-text-color-error: var(--color-danger);
    --server-message-background-color-error: rgba(255, 97, 136, 0.2);
    --server-message-border-color-error: var(--color-danger);
    --server-message-text-color-success: var(--color-success);
    --server-message-background-color-success: rgba(168, 219, 117, 0.2);
    --server-message-border-color-success: var(--color-success);

    --section-title-text-color: var(--text-light);
    --section-desc-text-color: var(--text-light-dim);

    /* General variables */
    --general-font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans',
        'Poppins', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji';
    --general-text-color: #231f20;
    --general-body-background-color: #f7f7f7;
    --general-body-background-gradient-color: linear-gradient(
        to bottom,
        #f7f7f7,
        #f7f7f7
    );
    --general-body-background-backdrop-filter: none;
}

html {
    font-weight: 500;
}

::selection {
    color: var(--text-dark);
    background-color: var(--background-dark);
}
