:root {
    --color-primary: #40a2e6;
    --color-primary-bright: #59bbff;
    --color-success: var(--color-green);
    --color-warning: var(--color-yellow);
    --color-danger: var(--color-red);

    --color-scrollbar-background: #f7f8f9;
    --color-scrollbar-thumb-background-default: #a6a1a6;
    --color-scrollbar-thumb-background-hover: var(--color-primary);
    --color-scrollbar-thumb-background-active: var(--color-primary-bright);
    --color-div-scrollbar-thumb-background-default: var(--color-primary);

    --text-light: #231f20;
    --text-light-dim: #5b5a5a;
    --text-light-highlight: var(--color-primary);
    --background-light: #f7f8f9;
    --background-light-highlight: #d7ebf9;

    --text-dark: #f7f8f9;
    --text-dark-dim: #797779;
    --text-dark-highlight: var(--color-primary);
    --background-dark: #231f20;
    --background-dark-highlight: #2e2a2b;

    /* Component variables */

    --header-background-color: rgba(255, 255, 255, 0.8);
    --header-shadow-color: rgba(0, 0, 0, 0.05);
    --header-text-color: var(--text-light);
    --header-brand-text: var(--text-light);
    --header-backdrop-filter: blur(4px);

    --header-icon-button-icon-color-default: var(--text-light);
    --header-icon-button-icon-color-hover: var(--text-light);
    --header-icon-button-icon-color-active: var(--text-light);
    --header-icon-button-icon-color-open: var(--text-light);
    --header-icon-button-background-color-default: rgba(255, 255, 255, 0);
    --header-icon-button-background-color-hover: rgba(211, 211, 211, 0.45);
    --header-icon-button-background-color-active: rgba(211, 211, 211, 0.45);

    --footer-background-color: #ffffff;
    --footer-border-top: 2px solid rgba(0, 0, 0, 0.1);
    --footer-business-section-border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    --footer-text-color: var(--text-light);
    --footer-text-dim-color: var(--text-light-dim);
    --footer-text-highlight-color: var(--color-primary);
    --footer-heading-text-color: var(--text-light);
    --footer-heading-border-color: var(--color-primary);

    --navbar-item-text-color-default: var(--text-light);
    --navbar-item-text-color-hover: rgba(64, 162, 230, 1);
    --navbar-item-text-color-active: rgba(64, 162, 230, 1);
    --navbar-item-text-color-link-active: var(--text-light-highlight);
    --navbar-item-text-color-link-pending: var(--navbar-item-text-color-hover);

    --navbar-item-background-color-default: rgba(255, 255, 255, 0);
    --navbar-item-background-color-hover: rgba(64, 162, 230, 0.1);
    --navbar-item-background-color-active: rgba(64, 162, 230, 0.2);
    --navbar-item-background-color-link-active: rgba(64, 162, 230, 0.2);
    --navbar-item-background-color-link-pending: rgba(64, 162, 230, 0.2);

    --navbar-subitem-background-color-default: rgba(64, 162, 230, 0);
    --navbar-subitem-background-color-hover: rgba(64, 162, 230, 0.15);
    --navbar-subitem-background-color-active: rgba(64, 162, 230, 0.15);
    --navbar-subitem-background-color-link-active: rgba(64, 162, 230, 0.15);
    --navbar-subitem-background-color-link-pending: rgba(64, 162, 230, 0.15);
    --navbar-subitem-text-color-default: var(--text-light);
    --navbar-subitem-text-color-hover: var(--text-light-highlight);
    --navbar-subitem-text-color-active: var(--text-light-highlight);
    --navbar-subitem-text-color-link-active: var(--text-light-highlight);
    --navbar-subitem-text-color-link-pending: var(--text-light-highlight);
    --navbar-subitem-desc-text-default: var(--text-light-dim);

    --navbar-sublist-background-color: rgba(255, 255, 255, 0.8);
    --navbar-sublist-border-color: transparent;
    --navbar-sublist-border-width: 0px;
    --navbar-sublist-border-radius: 10px;
    --navbar-sublist-box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 16px 0px,
        rgba(0, 0, 0, 0.06) 0px 4px 4px 0px, rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;
    --navbar-sublist-backdrop-filter: blur(4px);

    --mobile-navbar-blur-layer-background-color: #0006;
    --mobile-navbar-blur-layer-backdrop-filter: blur(10px);
    --mobile-navbar-background-color: #ffffff;
    --mobile-navbar-shadow-color: rgba(0, 0, 0, 0.05);
    --mobile-navbar-close-color-default: var(--text-light-dim);
    --mobile-navbar-close-color-hover: var(--text-light);
    --mobile-navbar-close-background-color-highlight: rgba(211, 211, 211, 0.45);
    --mobile-navbar-section-title-text-color: var(--text-light-dim);
    --mobile-navbar-item-text-color-default: var(--text-light);
    --mobile-navbar-item-background-color-default: rgba(255, 255, 255, 0);
    --mobile-navbar-item-background-color-hover: #e9f4fb;
    --mobile-navbar-item-background-color-highlight: #d7ebf9;
    --mobile-navbar-item-text-color-hover: var(--color-primary);
    --mobile-navbar-item-text-color-highlight: var(--color-primary);
    --mobile-navbar-item-desc-text-color: var(--text-light-dim);

    --popup-window-text-color: var(--text-light);
    --popup-window-text-highlight-color: var(--text-light-highlight);
    --popup-window-background-color: #ffffff;
    --popup-window-background-highlight-color: #eaf5fb;
    --popup-window-padding: 10px;
    --popup-window-border-color: #ffffff;
    --popup-window-border-width: 2px;
    --popup-window-border-radius: 4px;
    --popup-window-box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 16px 0px,
        rgba(0, 0, 0, 0.06) 0px 4px 4px 0px, rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;

    --card-text-color: var(--text-light);
    --card-text-dim-color: var(--text-light-dim);
    --card-text-highlight-color: var(--text-light-highlight);
    --card-background-color: #fff;
    --card-box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 16px 0px,
        rgba(0, 0, 0, 0.06) 0px 4px 4px 0px, rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;

    --toast-container-top-right-margin: 32px;
    --toast-title-color: var(--color-white);
    --toast-desc-color: var(--color-white);
    --toast-background-color: linear-gradient(
        45deg,
        rgba(64, 162, 230, 1) 0%,
        rgba(71, 208, 255, 1) 100%
    );
    --toast-border-color: transparent;
    --toast-border-width: 0px;
    --toast-border-radius: 4px;
    --toast-icon-color: var(--color-white);
    --toast-close-icon-color: var(--color-white);
    --toast-shadow-color: rgba(0, 0, 0, 0.1);

    --modal-overlay-fade-in-duration: 0.1s;
    --modal-overlay-background-color: #0006;
    --modal-overlay-backdrop-filter: blur(1px);
    --modal-window-margin: 48px;
    --modal-window-width: auto;
    --modal-window-height: auto;
    --modal-window-border-width: 2px;
    --modal-window-border-radius: 4px;
    --modal-window-border-color: var(--color-gray);
    --modal-window-text-color: var(--text-light);
    --modal-window-background-color: #ffffff;
    --modal-window-box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 16px 0px,
        rgba(0, 0, 0, 0.06) 0px 4px 4px 0px, rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;
    --alert-modal-window-title-text-color: var(--text-light);
    --alert-modal-window-message-text-color: var(--text-light-dim);

    --button-text-color-default: rgba(255, 255, 255, 0.9);
    --button-text-color-hover: rgba(255, 255, 255, 0.9);
    --button-text-color-active: rgba(255, 255, 255, 0.9);
    --button-background-color-default: linear-gradient(
        0deg,
        rgba(64, 162, 230, 1) 0%,
        rgba(71, 208, 255, 1) 100%
    );
    --button-background-color-hover: var(--button-background-color-default);
    --button-background-color-active: var(--button-background-color-default);
    --button-border-color-default: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;
    --button-shadow: 0px 4px 8px rgba(64, 162, 230, 0.2);
    --button-focus-border-color: lightblue;
    --button-border-width: 0px;
    --button-border-radius: 6px;
    --button-padding-left-right: 12px;
    --button-padding-top-bottom: 8px;
    --button-text-shadow: none;
    --button-font-size: 1rem;
    --button-font-weight: 700;

    --input-placeholder-text-color: var(--text-light-dim);
    --input-text-color-default: var(--text-light);
    --input-text-color-hover: var(--input-text-color-default);
    --input-text-color-active: var(--input-text-color-default);
    --input-text-color-focus: var(--input-text-color-default);
    --input-background-color-default: #ffffff;
    --input-background-color-hover: var(--input-background-color-default);
    --input-background-color-active: var(--input-background-color-default);
    --input-background-color-focus: var(--input-background-color-default);
    --input-border-color-default: var(--text-dark-dim);
    --input-border-color-hover: var(--input-border-color-default);
    --input-border-color-active: var(--input-border-color-default);
    --input-border-color-focus: var(--color-primary);
    --input-icon-color-default: var(--text-dark-dim);
    --input-icon-color-focus: var(--color-primary);
    --input-border-width: 1.4px;
    --input-border-radius: 6px;
    --input-padding-left-right: 8px;
    --input-padding-top-bottom: 6.8px;
    --input-icon-extra-padding: 4px;

    --checkbox-label-color: var(--text-light);
    --checkbox-symbol-color-default: transparent;
    --checkbox-symbol-color-hover: var(--checkbox-symbol-color-default);
    --checkbox-symbol-color-active: var(--checkbox-symbol-color-default);
    --checkbox-symbol-color-checked: var(--color-white);
    --checkbox-background-color-default: transparent;
    --checkbox-background-color-hover: var(--checkbox-background-color-default);
    --checkbox-background-color-active: var(
        --checkbox-background-color-default
    );
    --checkbox-background-color-checked: var(--color-primary);
    --checkbox-border-color-default: var(--color-primary);
    --checkbox-border-color-hover: var(--checkbox-border-color-default);
    --checkbox-border-color-active: var(--checkbox-border-color-default);
    --checkbox-border-color-checked: var(--checkbox-border-color-default);
    --checkbox-focus-border-color: lightblue;

    --radio-label-color: var(--text-light);
    --radio-symbol-color-default: transparent;
    --radio-symbol-color-hover: transparent;
    --radio-symbol-color-active: transparent;
    --radio-symbol-color-checked: #ffffff;
    --radio-background-color-default: transparent;
    --radio-background-color-hover: transparent;
    --radio-background-color-active: transparent;
    --radio-background-color-checked: var(--color-primary);
    --radio-border-color-default: var(--color-primary);
    --radio-border-color-hover: var(--color-primary);
    --radio-border-color-active: var(--color-primary);
    --radio-border-color-checked: var(--color-primary);
    --radio-focus-border-color: lightblue;

    --labeled-input-placeholder-text-color: var(--text-light-dim);
    --labeled-input-label-text-color: #ffffff;
    --labeled-input-text-color-default: var(--text-light);
    --labeled-input-inner-background-color-default: #ffffff;
    --labeled-input-inner-background-color-hover: #ffffff;
    --labeled-input-inner-background-color-focus: #ffffff;
    --labeled-input-background-color-default: var(--color-primary);
    --labeled-input-border-color-default: var(--color-primary);
    --labeled-input-focus-color: lightblue;
    --labeled-input-font-weight-default: 400;
    --labeled-input-text-color-default-reverse: #ffffff;
    --labeled-input-inner-background-color-default-reverse: #2d2a2e;
    --labeled-input-inner-background-color-hover-reverse: #423f42;
    --labeled-input-inner-background-color-focus-reverse: #423f42;
    --labeled-input-padding-left-right: 8px;
    --labeled-input-padding-top-bottom: 6.8px;
    --labeled-input-font-weight-reverse: 500;

    --select-text-color: var(--text-light);
    --select-background-color: rgba(0, 0, 0, 0);
    --select-border-color-default: var(--color-gray);
    --select-border-color-focus: var(--color-primary);
    --select-border-width: 2px;
    --select-padding-left-right: 8px;
    --select-padding-top-bottom: 6.8px;
    --select-border-radius: 6px;

    --labeled-select-label-text-color: #ffffff;
    --labeled-select-text-color-default: var(--text-light);
    --labeled-select-inner-background-color-default: #ffffff;
    --labeled-select-inner-background-color-hover: #ffffff;
    --labeled-select-inner-background-color-focus: #ffffff;
    --labeled-select-background-color-default: var(--color-primary);
    --labeled-select-border-color-default: var(--color-primary);
    --labeled-select-focus-color: lightblue;
    --labeled-select-font-weight-default: 400;
    --labeled-select-text-color-default-reverse: #ffffff;
    --labeled-select-inner-background-color-default-reverse: #2d2a2e;
    --labeled-select-inner-background-color-hover-reverse: #423f42;
    --labeled-select-inner-background-color-focus-reverse: #423f42;
    --labeled-select-padding-left-right: 8px;
    --labeled-select-padding-top-bottom: 6.8px;
    --labeled-select-font-weight-reverse: 500;

    --server-message-text-color-info: var(--color-blue);
    --server-message-background-color-info: rgba(120, 221, 232, 0.2);
    --server-message-border-color-info: var(--color-blue);
    --server-message-text-color-error: var(--color-danger);
    --server-message-background-color-error: rgba(255, 97, 136, 0.2);
    --server-message-border-color-error: var(--color-danger);
    --server-message-text-color-success: var(--color-success);
    --server-message-background-color-success: rgba(168, 219, 117, 0.2);
    --server-message-border-color-success: var(--color-success);

    --section-title-text-color: var(--text-light);
    --section-desc-text-color: var(--text-light-dim);

    /* General variables */
    --general-font-family: -apple-system, BlinkMacSystemFont, 'SFProDisplay',
        Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --general-text-color: var(--text-light);
    --general-body-background-color: var(--background-light);
    --general-body-background-gradient-color: linear-gradient(
        to bottom,
        #f7f8f9,
        #f7f8f9
    );
    --general-body-background-backdrop-filter: none;
    --general-selection-text-color: var(--text-light);
    --general-selection-background-color: rgb(64, 162, 230, 0.4);
}

html {
    font-weight: 400;
}

::selection {
    color: var(--general-selection-text-color);
    background-color: var(--general-selection-background-color);
}
