.checkbox-wrapper {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.checkbox-wrapper:has(*:disabled) {
    pointer-events: none;
}

.checkbox-wrapper > .input {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: calc(1em * 0.8);
    height: calc(1em * 0.8);
    border: 2px solid var(--checkbox-border-color-default);
    border-radius: 3px;
    font-size: 1.5em;
    color: var(--checkbox-symbol-color-default);
    background-color: var(--checkbox-background-color-default);
    filter: brightness(1);
    cursor: pointer;
    transition: all 0.15s;
}

.checkbox-wrapper > .input::before {
    transform: scale(0.6);
    content: '\2713';
}

.checkbox-wrapper > .input:hover {
    color: var(--checkbox-symbol-color-hover);
    background-color: var(--checkbox-background-color-hover);
    border: 2px solid var(--checkbox-border-color-hover);
}

.checkbox-wrapper > .input:active {
    color: var(--checkbox-symbol-color-active);
    background-color: var(--checkbox-background-color-active);
    border: 2px solid var(--checkbox-border-color-active);
}

.checkbox-wrapper > .input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--checkbox-focus-border-color);
}

.checkbox-wrapper > .input:checked {
    color: var(--checkbox-symbol-color-checked);
    background-color: var(--checkbox-background-color-checked);
    border: 2px solid var(--checkbox-border-color-checked);
}

.checkbox-wrapper > .input:disabled {
    opacity: 0.65;
}

.checkbox-wrapper + .checkbox-wrapper {
    margin-left: 12px;
}

.checkbox-wrapper > label {
    display: flex;
    margin-left: 8px;
    color: var(--checkbox-label-color);
    cursor: pointer;
}

.checkbox-wrapper > label > span {
    font-size: 1em;
    filter: brightness(1);
    user-select: none;
    transition: all 0.15s;
}

.checkbox-wrapper input[type='checkbox']:disabled ~ label > span {
    opacity: 0.65;
}

/* Modifier classes */

.checkbox-wrapper.small > input[type='checkbox'] {
    font-size: 1.25em;
}

.checkbox-wrapper.small > label > span {
    font-size: 0.75em;
}

.checkbox-wrapper.large > input[type='checkbox'] {
    font-size: 1.75em;
}

.checkbox-wrapper.large > label > span {
    font-size: 1.25em;
}

/* Color modifier classes */

.checkbox-wrapper.red > .input {
    --checkbox-background-color-checked: var(--color-red);
    --checkbox-border-color-default: var(--color-red);
    --checkbox-border-color-hover: var(--color-red);
    --checkbox-border-color-active: var(--color-red);
    --checkbox-border-color-checked: var(--color-red);
}

.checkbox-wrapper.orange > .input {
    --checkbox-background-color-checked: var(--color-orange);
    --checkbox-border-color-default: var(--color-orange);
    --checkbox-border-color-hover: var(--color-orange);
    --checkbox-border-color-active: var(--color-orange);
    --checkbox-border-color-checked: var(--color-orange);
}

.checkbox-wrapper.yellow > .input {
    --checkbox-background-color-checked: var(--color-yellow);
    --checkbox-border-color-default: var(--color-yellow);
    --checkbox-border-color-hover: var(--color-yellow);
    --checkbox-border-color-active: var(--color-yellow);
    --checkbox-border-color-checked: var(--color-yellow);
}

.checkbox-wrapper.green > .input {
    --checkbox-background-color-checked: var(--color-green);
    --checkbox-border-color-default: var(--color-green);
    --checkbox-border-color-hover: var(--color-green);
    --checkbox-border-color-active: var(--color-green);
    --checkbox-border-color-checked: var(--color-green);
}

.checkbox-wrapper.blue > .input {
    --checkbox-background-color-checked: var(--color-blue);
    --checkbox-border-color-default: var(--color-blue);
    --checkbox-border-color-hover: var(--color-blue);
    --checkbox-border-color-active: var(--color-blue);
    --checkbox-border-color-checked: var(--color-blue);
}

.checkbox-wrapper.purple > .input {
    --checkbox-background-color-checked: var(--color-purple);
    --checkbox-border-color-default: var(--color-purple);
    --checkbox-border-color-hover: var(--color-purple);
    --checkbox-border-color-active: var(--color-purple);
    --checkbox-border-color-checked: var(--color-purple);
}

.checkbox-wrapper.black > .input {
    --checkbox-background-color-checked: var(--color-black);
    --checkbox-border-color-default: var(--color-black);
    --checkbox-border-color-hover: var(--color-black);
    --checkbox-border-color-active: var(--color-black);
    --checkbox-border-color-checked: var(--color-black);
}
