.button {
    position: relative;
    padding: calc(var(--button-padding-top-bottom) + var(--button-border-width))
        calc(var(--button-padding-left-right) + var(--button-border-width));
    border: 0;
    font-size: 1rem;
    font-weight: bold;
    color: var(--button-text-color-default);
    text-shadow: var(--button-text-shadow);
    background: transparent;
    overflow: visible;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.15s;
    z-index: 0;
    -webkit-tap-highlight-color: transparent;
}

.button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--button-border-width) solid var(--button-border-color-default);
    border-radius: var(--button-border-radius);
    outline: 2px solid transparent;
    text-align: center;

    background: var(--button-background-color-default);
    box-shadow: var(--button-shadow);
    filter: brightness(1);
    z-index: -1;
    transition: all 0.15s;
}

.button:hover {
    color: var(--button-text-color-hover);
}

.button:hover::before {
    border: var(--button-border-width) solid var(--button-border-color-hover);
    background: var(--button-background-color-hover);
    filter: brightness(1.15);
}

.button:active {
    color: var(--button-text-color-active);
    transition: all 0.05s;
}

.button:active::before {
    border: var(--button-border-width) solid var(--button-border-color-active);
    background: var(--button-background-color-active);
    filter: brightness(0.8);
    transition: all 0.05s;
}

.button:focus {
    outline: 0;
}

.button:focus::before {
    outline: 2px solid var(--button-focus-border-color);
}

/* Modifier classes */

.button.small {
    font-size: 0.8rem;
}

.button.large {
    font-size: 1.2rem;
}

.button.loading {
    color: transparent !important;
    text-shadow: none !important;
}

.loading-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1em;
    color: var(--button-text-color-default);
    transform: translate(-50%, -50%);
}

/* Color modifier classes */

.button.success {
    --button-text-color-default: rgba(255, 255, 255, 0.9);
    --button-text-color-hover: rgba(255, 255, 255, 0.9);
    --button-text-color-active: rgba(255, 255, 255, 0.9);

    --button-background-color-default: linear-gradient(
        0deg,
        rgba(75, 196, 114, 1) 0%,
        rgba(89, 235, 136, 1) 100%
    );
    --button-background-color-hover: var(--button-background-color-default);
    --button-background-color-active: var(--button-background-color-default);
    --button-border-color-default: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;
    --button-shadow: 0px 4px 8px rgba(81, 213, 124, 0.2);
    --button-border-width: 0px;
}

.button.success:hover::before {
    border: var(--button-border-width) solid var(--button-border-color-hover);
    background: var(--button-background-color-hover);
    filter: brightness(1.1);
}

.button.success:active::before {
    border: var(--button-border-width) solid var(--button-border-color-active);
    background: var(--button-background-color-active);
    filter: brightness(0.8);
    transition: all 0.05s;
}

.button.danger {
    --button-text-color-default: rgba(255, 255, 255, 0.9);
    --button-text-color-hover: rgba(255, 255, 255, 0.9);
    --button-text-color-active: rgba(255, 255, 255, 0.9);

    --button-background-color-default: linear-gradient(
        0deg,
        rgba(229, 64, 78, 1) 0%,
        rgba(255, 71, 117, 1) 100%
    );
    --button-background-color-hover: var(--button-background-color-default);
    --button-background-color-active: var(--button-background-color-default);
    --button-border-color-default: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;
    --button-shadow: 0px 4px 8px rgba(229, 64, 78, 0.2);
    --button-border-width: 0px;
}

.button.warn {
    --button-text-color-default: rgba(255, 255, 255, 0.9);
    --button-text-color-hover: rgba(255, 255, 255, 0.9);
    --button-text-color-active: rgba(255, 255, 255, 0.9);
    --button-background-color-default: linear-gradient(
        0deg,
        rgba(252, 155, 106, 1) 0%,
        rgba(252, 178, 105, 1) 100%
    );
    --button-background-color-hover: var(--button-background-color-default);
    --button-background-color-active: var(--button-background-color-default);
    --button-border-color-default: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;
    --button-shadow: 0px 4px 8px rgba(252, 178, 105, 0.2);
    --button-border-width: 0px;
}

.button.info {
    --button-text-color-default: var(--color-white);
    --button-text-color-hover: var(--color-white);
    --button-text-color-active: var(--color-white);
    --button-background-color-default: linear-gradient(
        0deg,
        rgba(64, 162, 230, 1) 0%,
        rgba(71, 208, 255, 1) 100%
    );
    --button-background-color-hover: var(--button-background-color-default);
    --button-background-color-active: var(--button-background-color-default);
    --button-border-color-default: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;
    --button-shadow: 0px 4px 8px rgba(64, 162, 230, 0.2);
    --button-border-width: 0px;
}

.button.gray {
    --button-text-color-default: rgba(255, 255, 255, 0.9);
    --button-text-color-hover: rgba(255, 255, 255, 0.9);
    --button-text-color-active: rgba(255, 255, 255, 0.9);
    --button-background-color-default: linear-gradient(
        0deg,
        rgba(103, 115, 145, 1) 0%,
        rgba(122, 140, 172, 1) 100%
    );
    --button-background-color-hover: var(--button-background-color-default);
    --button-background-color-active: var(--button-background-color-default);
    --button-border-color-default: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;
    --button-shadow: 0px 4px 8px rgba(122, 140, 172, 0.2);
    --button-border-width: 0px;
}

.button.white {
    --button-text-color-default: rgba(0, 0, 0, 0.75);
    --button-text-color-hover: rgba(0, 0, 0, 0.75);
    --button-text-color-active: rgba(0, 0, 0, 0.75);
    --button-background-color-default: linear-gradient(
        0deg,
        #d4d4d2 0%,
        #fcfcfa 100%
    );
    --button-background-color-hover: var(--button-background-color-default);
    --button-background-color-active: var(--button-background-color-default);
    --button-border-color-default: transparent;
    --button-border-color-hover: transparent;
    --button-border-color-active: transparent;
    --button-shadow: 0px 4px 8px rgba(252, 252, 250, 0.1);
    --button-border-width: 0px;
}

/* State overrides */

.button:disabled {
    opacity: 0.65;
    pointer-events: none;
}

a.button {
    display: inline-block;
    text-decoration: none;
    line-height: normal;
    user-select: none;
}

div.button {
    display: inline-block;
    line-height: normal;
    user-select: none;
}
